@charset "UTF-8";


@page {
  background-image: url("VTC_Urkunde.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  size: A4;
  margin-left: 0cm;
  margin-right: 0cm;
  margin-top: 0cm;
  margin-bottom: 0cm;
/*  margin-left: 4.6cm;
  margin-right: 2cm;
  margin-top: 2cm;
  margin-bottom: 2cm;	*/
  @top-left {
    background: #FFFF00;
    margin-bottom: 1.5cm;
    width: 75%;
    height: 0.5cm;
    font-family: Pacifico;
    content: '';
    font-size: 7pt;
    vertical-align: top; }
  @top-center {
/*    background: #00FF00;	*/
    margin-bottom: 0.5cm;
    width: 100%;
    height: 1cm;
    font-family: Roboto;
    content: '';
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 0.5em;
    vertical-align: center; }
  @top-right {
/*    background: #FFFF00;	*/
    margin-bottom: 1.5cm;
    width: 20%;
    height: 0.5cm;
    font-family: Pacifico;
    content: '';
    text-align:right;
    font-size: 7pt;
    vertical-align: top;}
  @bottom-left {
/*    background: #FFFF00;	*/
    margin-top: 0.5cm;
    width: 75%;
    font-family: Pacifico;
    content: '';
    font-size: 6pt;
    vertical-align: top; }
  @bottom-center {
/*    background: #00FF00;	*/
    margin-top: 0;
    width: 100%;
    height: 0.5cm;
    font-family: Pacifico;
    content: '';
    font-size: 8pt;
    vertical-align: top; }
  @bottom-right {
/*    background: #FFFF00;	*/
    margin-top: 0.5cm;
    width: 20%;
    font-family: Pacifico;
    content: '';
    text-align:right;
    font-size: 6pt;
    vertical-align: top;}
}
    
html body .date {
    visibility: hidden;
	string-set: date content(); }
html body .time {
    visibility: hidden;
	string-set: time content(); }
html body .event {
    visibility: hidden;
	string-set: event content(); }
html body .eventdate {
    visibility: hidden;
	string-set: eventdate content(); }
	
body {
	margin-left: 6.6cm;
	margin-right: 2cm;
	margin-top: 2cm;
	margin-bottom: 2cm;
	padding: 0;
	font-family: ITC Flora Std;
	font-size: 12pt;
	color: #000;
}

p {
	margin: 5pt;
	padding: 0;
}

.headrow {
/*	background: #00FF00;	*/
	display: block;
	width: 100%;
	page-break-before: always;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5cm;
}

.certificate_participantblock {
	opacity: 1;
	position: relative;
	width: 100%;
	height: 100%;
	text-align:center;
	margin-top: 7.3cm;
	font-size: 26pt;
}

.certificate_resultblock {
	opacity: 1;
	position: relative;
	width: 100%;
	height: 100%;
	text-align:center;
	margin-top: 3.5cm;
	font-size: 16pt;
	page-break-after: always;
}

.nobreakblock {
/*	background: #00FF00;	*/
	opacity: 0.5;
	display: block;
	width: 100%;
	height: 4cm;
	page-break-inside: avoid;
}

table {
	border-collapse:collapse;
    border-width: 0px;
    margin: 0 auto;
/*    width: 18cm;
/*    break-inside: avoid;	*/
}

tr {
	page-break-inside:avoid;
	page-break-after:auto
}

thead {
	display: table-header-group;
}

table th {
    border-bottom: 2px solid #000;
    color: #000;
    vertical-align: middel;
    padding-top: 3px;
    padding-bottom: 3px;
}

table td {
	height: 0.7cm;
}

table .blank_row th {
    height: 5px !important; /* overwrites any other rules */
    padding: 0px !important; /* overwrites any other rules */
/*    background-color: #FFFFFF;	*/
    border-bottom: 0px;
}

table .name {
    color: #000;
    font-size: 16px;
    height: 25px;
}