@charset "UTF-8";

@page {
  size: A4;
  margin-left: 1.5cm;
  margin-right: 1.5cm;
  margin-top: 3cm;
  margin-bottom: 1.5cm;
  @top-left {
/*    background: #FFFF00;	*/
    margin-bottom: 1.5cm;
    width: 75%;
    height: 0.5cm;
    font-family: Pacifico;
    content: string(event);
/*	content: 'Vereinsmeisterschaft 2020 TV 1879 e.V. Jüchen'; */
    font-size: 7pt;
    vertical-align: top; }
  @top-center {
/*    background: #00FF00;	*/
    margin-bottom: 0.5cm;
    width: 100%;
    height: 1cm;
    font-family: Roboto;
    content: 'ERGEBNISSE';
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 0.5em;
    vertical-align: center; }
  @top-right {
/*    background: #FFFF00;	*/
    margin-bottom: 1.5cm;
    width: 20%;
    height: 0.5cm;
    font-family: Pacifico;
    content: string(eventdate);
    text-align:right;
    font-size: 7pt;
    vertical-align: top;}
  @bottom-left {
/*    background: #FFFF00;	*/
    margin-top: 0.5cm;
    width: 75%;
    font-family: Pacifico;
/*    content: 'Gedruckt am 10.10.2020 ' string(time) ' mit VUni Competition Manager 1.0.1020';	*/
    content: 'Gedruckt am ' string(date) ' ' string(time) ' mit VUni Competition Manager 1.0.1021';
    font-size: 6pt;
    vertical-align: top; }
  @bottom-center {
/*    background: #00FF00;	*/
    margin-top: 0;
    width: 100%;
    height: 0.5cm;
    font-family: Pacifico;
    content: '';
    font-size: 8pt;
    vertical-align: top; }
  @bottom-right {
/*    background: #FFFF00;	*/
    margin-top: 0.5cm;
    width: 20%;
    font-family: Pacifico;
    content: 'Seite ' counter(page) ' von ' counter(pages);
    text-align:right;
    font-size: 6pt;
    vertical-align: top;} }
    
html body .date {
    visibility: hidden;
	string-set: date content(); }
html body .time {
    visibility: hidden;
	string-set: time content(); }
html body .event {
    visibility: hidden;
	string-set: event content(); }
html body .eventdate {
    visibility: hidden;
	string-set: eventdate content(); }
	
body {
	font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
	font-size: 11.5px;
	background: #FFF;
	margin: 0;
	padding: 0;
	color: #000;
}

.headrow {
/*	background: #00FF00;	*/
	display: block;
	width: 100%;
	page-break-before: always;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5cm;
}

.row {
	position: relative;
	margin-top: -4cm;
}

.nobreakblock {
/*	background: #00FF00;	*/
	opacity: 0.5;
	display: block;
	width: 100%;
	height: 4cm;
	page-break-inside: avoid;
}

table {
	border-collapse:collapse;
    border-width: 0px;
    margin-bottom: 1cm;
    width: 18cm;
/*    break-inside: avoid;	*/
}

tr {
	page-break-inside:avoid;
	page-break-after:auto
}

thead {
	display: table-header-group;
}

table th {
    border-bottom: 1px solid #000;
    color: #000;
    vertical-align: middel;
    padding-top: 3px;
    padding-bottom: 3px;
}

table td {
	height: 15px;
}

table .blank_row th {
    height: 5px !important; /* overwrites any other rules */
    padding: 0px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
    border-bottom: 0px;
}

table .name {
    color: #000;
    font-size: 16px;
    height: 25px;
}