@charset "UTF-8";

html, body {
    height: 100%;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
}

*, ::before, ::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
/*	font-size: 16px;	*/
	background: #FFF;
	margin: 0;
	padding: 0;
	color: #2E2E2E;
}

.flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0px;
	margin-bottom: 10px;
	padding-right: 16px;
	padding-left: 16px;
}
a img {
	border: none;
}

.maincontent {
	width: 100%;
	max-width: 99vw;
	padding: 0px 16px;
	margin: 0 auto;
	flex-grow: 1;
}
@media only screen and (min-width: 1112px) {
	.maincontent {
    	max-width: 1100px;
	}
}

.container {
  width: 100%;
  max-width: 99vw;
  padding: 0px 16px;
  margin: 0 auto;
  min-height: 10px;
}
@media only screen and (min-width: 1112px) {
	.container {
    	max-width: 1100px;
	}
}

.content {
	padding-top: 16px;
}

.clearfix{
/*	zoom:1; */
}
.clearfix:after,.clearfix:before{
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after{
	clear:both;
}

#toplink {
	position: fixed;
	bottom: 90px;
	right: 2%;
	z-index: 4;
	display: block;
	height: 38px;
	width: 38px;
	background-color: RGBA(68, 68, 68, 0.10);
	text-align: center;
}

.space{
	width: 100%;
	height: 16px;
}


/*
 * Navigation
 */

header {
    padding: 0 !important;
}

header.clearfix {
    padding-top: 30px !important;
    padding-bottom: 20px !important;
}

.logo img {
    height: 78px;
}

#topmenu {
	text-align: center;
}

#topmenu p {
	color: #999;
	font-size: 11px;
	font-weight: 200;
	vertical-align: middle;
	padding: 9px 10px;
	list-style-type: none;
}

#topmenu a {
	display: block;
	color: #C6C7C8;
	text-decoration: none;
}

#topmenu a:hover {
	color: #6F6F6F;
}

#topmenu .pull-left {
}

#topmenu .pull-right {
}

@media only screen and (min-width: 661px) {	
	#topmenu .pull-left {
		float: left;
	}

	#topmenu .pull-right {
		float: right;
		width: 50%
	}
}



.no-list {
	list-style: none;
}



/*
 * Hauptnavigation
 */

.menu-wrap {
    display: block;
    width: 100%;
    overflow: visible;
    background-color: #00D2FF;
}

nav {
	clear: both;
	display: block;
	overflow: visible;
	width: 100%;
}

nav a,
nav > ul > li a,
nav > ul > li > ul > li a {
    display: block;
}

nav ul {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

nav li a {
	display: block;
	position: relative;
	padding: 10px 5px;
	border: none;
	text-align: center;
	font-family: 'Roboto',Arial,Helvetica,sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1em;
	color: #2E2E2E;
	letter-spacing: 1.5px;
	text-decoration: none;
}

nav li a:hover {
	color: #FFF;
}

nav ul li {
	display: inline-block;
	border: none;
}

nav ul ul {
    display: none;
}

nav > ul > li > ul > li > a {
	display: block;
	position: relative;
   	padding: 10px 5px 10px 5px;
   	border-top: 1px solid #fff;
   	text-align: center;
   	font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
   	font-weight: 400;
   	font-style: normal;
	font-size: 0.9em;
	color: #2E2E2E;
   	letter-spacing: 0px;
}

nav  ul li ul li:hover > ul,
nav  ul li ul li ul {
    display: none;
}

@media only screen and (min-width: 661px){
	nav ul li:hover > ul {
   		display: block;
    	background: #EFEFEF;
	}

	nav > ul > li:hover > ul {
    	position: absolute;
    	width: 225px;
    	top: 39px;
    	background: #EFEFEF;
    	z-index: 900;
	}

	nav > ul > li > ul > li > a {
		display: block;
		position: relative;
    	padding: 10px 5px 10px 20px;
    	border-top: 1px solid #fff;
    	text-align: left;
    	font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
    	font-weight: 400;
    	font-style: normal;
		font-size: 0.9em;
		color: #2E2E2E;
    	letter-spacing: 0px;
	}

	nav > ul > li > ul > li > a:hover {
		color: #00D2FF;
		padding-left: 30px;
	}

	nav > ul > li > ul > li {
		width: 225px;
	}

	/* Hide Hamburger */
	nav label, #hamburger {
 		display: none;
	}
	
	nav label, .open-sub-menu {
 		display: none;
	}
}

/* [ON SMALL SCREENS] */
@media only screen and (max-width: 660px){
	.menu-wrap {
		padding: 10px;
	}
	/* Break down menu items into vertical */
	nav ul li,
	nav ul li ul  {
		display: block;
	}
  	nav ul li, nav ul li:hover > ul > li {
    	border-top: 1px solid #2E2E2E;
  	}
  	
  	nav ul li ul {
  		background: #EFEFEF;
	}

	nav li a {
		margin-left: 50px;
		margin-right: 50px;
	}
	
	nav ul li ul li a {
		margin-left: 50px;
		margin-right: 50px;
	}

	/* Toggle show/hide menu on checkbox click */
	nav ul, nav ul li ul {
		display: none;
	}
	nav input:checked ~ ul {
    	display: block;
	}
	
	nav label.sub-menu-button:checked ~ ul {
    	display: block;
	}
	
	ul#main-menu {
    	padding-top: 15px;
	}
	
	ul > ul#main-menu {
    	padding-top: 0px;
	}
	
	/* Show Hamburger */
	label.hamburger { 
		display: block;
		background: #2E2E2E;
		width: 44px;
		height: 44px; 
		position: relative; 
		margin-left: auto;
		margin-right: auto;
		border-radius: 4px; 
	}

	input#hamburger {
		display:none
	}
	
	.line { 
		position: absolute; 
		left:8px;
		height: 4px;
		width: 28px; 
		background: #fff; border-radius: 2px;
		display: block; 
		transition: 0.5s; 
		transform-origin: center; 
	}

	.line:nth-child(1) { top: 9px; }
	.line:nth-child(2) { top: 20px; }
	.line:nth-child(3) { top: 31px; }

	#hamburger:checked + .hamburger .line:nth-child(1){
		transform: translateY(11px) rotate(-45deg);
	}

	#hamburger:checked + .hamburger .line:nth-child(2){
		opacity:0;
	}

	#hamburger:checked + .hamburger .line:nth-child(3){
		transform: translateY(-11px) rotate(45deg);
	}

	/* Show Sub-Menu-Button */
	label.sub-menu-button { 
		display: block;
		background: #2E2E2E;
		width: 40px;
		height: 40px; 
		position: absolute;
		margin:2px auto 2px auto;
	}

	input.open-sub-menu {
		display:none
	}
	
	#main-menu input[type="checkbox"]:checked + label .sub-menu-button {
		display: none;
	}
	
	.sub-menu-button .icon-right-open {
	    display: block;
    	margin: 0;
    	width: 40px;
    	font-weight: 400;
    	font-variant: normal;
    	text-transform: none;
    	line-height: 1;
    	-webkit-font-smoothing: antialiased;
    	padding: 3px 0px 0px 0px;
    	position: absolute;
    	left: -2px;
    	top: 0;
    	border: 0;
    	cursor: pointer;
    	height: 40px;
    	color: #FFF;
    	font-family: fontello;
    	font-size: 32px;
	}
	
}



/*
 * Breadcrumb
 */

.breadcrumb-box {
	display: none;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: RGBA(239, 239, 239, 0.60);
}

.breadcrumb {
	padding: 10px 20px 10px 20px;
}

.breadcrumb li, .breadcrumb a {
	font-size: 0.95em;
    color: #2E2E2E;
    text-decoration: none;
    margin-right: 4px;
}

@media only screen and (min-width: 661px) {
	.breadcrumb-box {
		display: block;
	}
}



/*
 * Subnavigation
 */

.sub-nav > li {
    border-bottom: 1px solid #fff;
    background: #EFEFEF;
}

.sub-nav li > a {
	display: block;
    padding: 10px 20px 10px 20px;
    text-align: left;
    font-weight: 400;
    font-style: normal;
	font-size: 0.9em;
	color: #2E2E2E;
    letter-spacing: 0px;
}

.sub-nav li > a:hover {
	color: #00D2FF;
	padding-left: 30px;
}


/*
 * Subnavigation - Top
 */

.sub-nav-top {
    display: flex;
	margin-bottom: 16px;
}

.sub-nav-top ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.sub-nav-top li {
	margin-right: 2px;
	margin-bottom: 2px;
	padding: 2px 8px 2px 2px;
	display: flex;
	background: #EFEFEF;
}

.sub-nav-top li:active {
	background: #E2E2E2;
}

.sub-nav-top li a {
    display: block;
    position: relative;
	padding: 5px 5px;
	border: none;
	text-align: center;
	font-family: 'Roboto',Arial,Helvetica,sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 0.85em;
	color: #2E2E2E;
	letter-spacing: 1.5px;
	text-decoration: none;
}

.sub-nav-top li a:hover, .sub-nav-top li a:active {
	color: #00D2FF;
}


/*
 * Footer
 */
	
footer {
	display: block;
	width: 100%;
	padding: 15px 0px 15px 0px;
	font-size: 0.9em;
	background-color: #00D2FF;
}

footer ul {
	padding-bottom: 10px;
}

footer ul li {
	border: none;
	padding-top: 2.5px;
}

footer p {
	display:block;
	padding: 5px 0px;
	color: #2E2E2E;
	font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
	font-weight: 100;
	text-align: center;
	vertical-align: middle;
}

footer a {
	display:block;
	padding: 5px 0px;
	color: #2E2E2E;
	font-family: 'Roboto',Arial,Helvetica,sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	-webkit-transition: all 0.5s ease-out;
}

footer a:hover {
	color: #FFF;
}

@media only screen and (min-width: 661px) {
	footer ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	footer ul li {
    	width: 110px;
    	padding-top: 0px;
	}
	
	ol.inline-list>li,ul.inline-list>li {
		display:inline-block;
/*			display:inline;
		zoom:1;	*/
	}
}

@media only screen and (min-width: 661px) {	
	footer ul {
		padding-bottom: 0px;
	}
	.pull-left {
		float: left;
	}

	.pull-right {
		float: right;
	}
}

@media only screen and (min-width: 1112px) {
	footer ul li {
    	width: 130px;
	}
}



/*
 * Titelbild
 */

figure {
    position: relative;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
}

.image-container .headline {
    position: absolute;
    bottom: 2%;
    left: 2%;
    color: #fff;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
}

.headline h1 {
	font-size: 3em;
	margin-bottom: 0px;
}

@media only screen and (min-width: 661px) {
	.image-container .headline {
    	bottom: 20px;
    	left: 20px;
	}
}

@media only screen and (min-width: 1112px) {
	.headline h1 {
	font-size: 4em;
}
}


/*
 * Inhalt
 */

@media only screen and (min-width: 1112px) {
	.row {
    	margin: 0 -8px;
	}

	.col-1-4 {
		display: block;
		max-width: 210px;
	}

	.col-3-4 {
    	max-width: 722px;
	}
	
	.col-1-3, .col-1-4, .col-2-3, .col-3-4 {
    	margin-left: 8px;
    	margin-right: 8px;
    	float: left;
	}
}

.col-1-2, .col-1-3, .col-1-4, .col-2-3, .col-3-4 {
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-1-4 {
	display: none;
}

.row {
    	margin: 0 -8px;
}

.justify {
	text-align: justify;
}

.dyn-con-box, .sta-con-box {
	margin-bottom: 32px;
}

.dyn-con-box .row {
	display: flex;
	overflow: hidden;
}
.dyn-con-box .row.vert {
	flex-direction: column;
}

.white-space {
	width: 100%;
	height: 16px;
}
.dyn-con-box .row .white-space {
	display: none;
}
.dyn-con-box .row.vert .white-space {
	display: block;
	width: 100%;
	height: 16px;
}

/*
 *	Tabellen
 */

.tableblock {
	max-width: 100%;
	overflow: auto;
}

.inlinetableblock {
    max-height: 300px;
    overflow-y: auto;
    background: white none repeat scroll 0% 0%;
    padding: 5px;
    width: 100%;
    margin: 0px 8px 10px;
}

.content table {
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 2.5em;
    font-size: 0.9em;
    width: 100%;
}

table.fieldset-list {
	margin-bottom: 5px;
}

.content th, .content td {
    padding: 2px;
    vertical-align: middel;
    text-align: left;
    word-wrap: break-word;
    height: 100%;
}

.content td {
/*	border-bottom: 1px solid #E2E2E2;
*/
}

.content th.sortable:hover {
    background-color: #E1E1E1;
}

.content th.hoverable:hover a {
    color: #00D2FF;
}

.content table.table-list p {
    margin-bottom: 0px;
}

.content thead tr { 
  background-color:#EFEFEF;
  height: 32px;
}

.content tfoot tr { 
  background-color:#EFEFEF;
  height: 26px;
  font-size: 0.9em;
}

.content tbody tr:hover { 
  background-color:#EFEFEF;
}

.content tbody tr.ismerged {
	color: #999;
}

table a {
	color: #2E2E2E;
	font-weight: 600;
}

table .border {
    border-top: 1px solid #DADADA;
}



/*
 * Colorpick
 */


div.colorpick {
	display: block;
	width: 5px;
	height: 100%;
	background-color: #f2f2f2;
}
div.colorpick.red {
	background-color: #ff4040;
}
div.colorpick.green {
	background-color: #0F0;
}
div.colorpick.yellow {
	background-color: #fff999;
}


/*
.content tr:nth-child(2n) td {
    background: #EFEFEF;
}

.content tr:nth-child(2n+1) td {
    background: #FFF;
}
*/
/*
.content tr:hover td {
    background: #EFEFEF;
}
*/

.content table b {
	font-size: 1.1em;
}

.content table p {
	padding-left: 8px;
	padding-right: 8px;
}


/*
 * Links
 */

:hover {
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
}


/*
 * Suche
 */
 
.search-form {
        box-sizing: border-box;
        max-width: 290px;
        margin: 25px auto 5px auto;
        display: block;
        position: relative;
    }
.search-form fieldset {
        display: flex;
        padding: 0;
        margin: 0;
        border: 0;
    } 
.search {
		font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
		color: #2E2E2E;
		font-size: 15px;
		font-weight: 500;
		border: 1px solid #2E2E2E;
		padding: 0px 10px 0px 38px;
		width: 100%;
		height: 28px;
		background-color: transparent;
    }
.search-form legend, label {
        display: none;   
    }
.search-form .search-icon {
    display: block;
    margin: 0;
    width: 28px;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding: 1px 0px 0px 1px;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    cursor: pointer;
    height: 28px;
    color: #FFF;
    background-color: #2E2E2E;
    font-family: fontello;
    font-size: 16px;
}
.search-form .search-icon:hover {
	color: #00D2FF;
}


/*
 * Bilder
 */

.bild {
	display: block;
	margin-left:auto;
	margin-right:auto;	
	background: #E5E5E5;
	padding: 1px;
	border-radius: 1px;
}

.right {
	float: right;
	margin-left:20px;
	margin-bottom:10px;
}

.left {
	float: left;
	margin-right:20px;
	margin-bottom:10px;
}

.transparenz {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  opacity: .8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE8 */
  filter: alpha(opacity=60); } /*IE7 und kleiner*/ 

.transparenz:hover {
  opacity: 1.0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
  filter: alpha(opacity=100); }


/*
 * Links
 */

/* Alle Links kennzeichnen (intern + extern) */
 a[href^="http://"],
 a[href^="https://"] {
    background:transparent url(Grafiken/PNG/externer_link.png) center right no-repeat;
    padding-right:15px;
   }

/* Alle internen Links nachbearbeiten */
  a[href^="http://dl.dropbox.com/u/77317595"],
  a[href^="https://dl.dropbox.com/u/77317595"],
  a[href^="https://dl.dropbox.com/u/77317595"],
  a[href^="http://dl.dropbox.com/u/77317595"]
  {
    padding-right: 0;
    background: transparent;
  }
  
/* 
 *Test
 */
  
#toplink .backtotop-icon a {
    display: block;
    margin: 0;
    width: 38px;
    height: 26px;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    cursor: pointer;
    color: #444;
    background: 0 0;
    font-family: fontello;
    font-size: 16px;
}
#toplink .backtotop-icon a:hover {
	color: #4499FF;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
}




/*
 * Toggel Details
 */

.togglebutton {
	display: block;
	font-family: inherit;
    border: 0;
    background: #00D2FF;
    padding: 0px 13px;
    text-transform: uppercase;
    font-size: 13px;
    color: #2E2E2E;
    text-align: center;
    letter-spacing: 0.75px;
    line-height: 28px;
    height: 28px;
    cursor: pointer;
    float: right;
    margin-left: 0px;
    margin-bottom: 10px;
}
.toggleinput {
	display: none;
}
.toggelcontent {
    display: none;
}
.toggleinput:checked + .toggelcontent {
    display: block;
    margin-top: 10px;
}


.switch {
  position: relative;
  display: inline-block;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: #89c12d;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}


/*
 * Forms
 */

/* Allgemein */

form {
	display: block;
	position: relative;
	height: auto;
}

.small {
	max-width: 500px;
}

.wide {
	max-width: 800px;
}

fieldset {
    padding: 10px 16px;
    border: 0;
    background-color: #EFEFEF;
    margin-bottom: 16px;
}

/* Reihen */

fieldset .row {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 -8px;
}

@media only screen and (min-width: 461px) {
	fieldset .row {
		flex-direction: row;
	}
}

.row.bottom {
	margin-bottom: -10px;
}

.row.padding {
	padding-bottom: 10px;
}

div.sep-line {
	width: 100%;
	border-bottom: 1px solid #FFF;
	margin-bottom: 10px;
}

/* Spalten */

.form-col{
	display: flex;
	position: relative;
	padding: 0 8px;
}

.form-col1 {
	position: relative;
	width: 100%;
	padding: 0 8px;
}
@media only screen and (min-width: 461px) {
	.form-col1{
		display: flex;
		width: 150px;
		float: left;
	}
}

.form-col2 {
	display: flex;
	position: relative;
	flex-grow: 1;
	float: right;
	padding: 0 8px;
}

.grow {
	flex-grow: 1;
}

.grow-max {
	flex-grow: 1;
	max-width: 250px;
}
.indent {
	margin-left: 150px;
}

/* Label & Inputs */

fieldset label {
	text-align: left;
}
@media only screen and (min-width: 461px) {
	fieldset label {
		text-align: right;
	}
}

.visible {
    display: block;
    margin-top: 0px;
	margin-bottom: 3px;
    font-size: 15px;
    color: #2E2E2E;;
}
@media only screen and (min-width: 461px) {
	fieldset .visible {
		margin-top: 5px;
		margin-bottom: 15px;
	}
}

input {
	width: 100%;
	max-width: 100%;
	height: 28px;
	border: 0;
    background: #FFF;
    padding: 0 8px;
    font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 0;
    -webkit-appearance: none;
    color: #2E2E2E;
}

table.fieldset-list input {
	margin-bottom: 0px;
}

select, select:active, select:focus {
    padding: 0 4px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
  	border-radius: 0;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 28px;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #2E2E2E;
	background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAIAAAC0Ujn1AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJlJREFUeNpiZLj0n4E2gImBZmDU6FGjR40eLEaz4JJIEGSYL0OUEYlPGBa8J8XVQNVAPWSbSyBAgHoWvsdnLlB2wXtywzrhCU7TgeIJTyiLxoLnDBd/oAsCRYDilKaQD38ZHO6hmA5kA0WA4lRIfEBTEh4zfASb9RHMJmguCen6AtilD3+DyAs/iNLCOFo3jho9avQgMRogwAC0CDs5n7HOAgAAAABJRU5ErkJggg==) right top no-repeat;
}

textarea {
	width: 100%;
	margin-bottom: 10px;
	height: 84px;
}

.form-checkbox {
	position: relative;
	min-width: 60px;
	padding: 0 8px;
	text-align: center;
}

.form-checkbox input {
	width: auto;
}

.button a {
	color: #2E2E2E;
}

.btn, .button, button {
	font-family: inherit;
    border: 0;
    background: #00D2FF;
    padding: 0px 13px;
    text-transform: uppercase;
    font-size: 13px;
    color: #2E2E2E;
    text-align: center;
    letter-spacing: 0.75px;
    line-height: 28px;
    height: 28px;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

.button:hover, .button:hover a, input.btn:hover {
	color: #FFF;
}

.fixed-width {
	width: 100%;
}
@media only screen and (min-width: 461px) {
	.fixed-width {
		min-width: 245px;
	}
}

fieldset h4 {
	padding: 0;
	margin-bottom: 8px;
}

fieldset h3 {
	font-size: 1.05em;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
}

/* Fehlermeldungen */

fieldset ul.errorlist {
	width: 100%;
	padding: 0 8px;
	margin-bottom: 4px;
	text-align: center;
	list-style: none;
	font-weight: 600;
	color: #F00;
}

.response-field {
	color: #00C300;
	border: 2px solid #00C300;
	margin-bottom: 10px;
	padding: 10px 8px 0px;
}

.response-field.error {
	color: rgb(255, 0, 0);
	border: 2px solid red;
}


/*
 * Filter-Form
 */

.filter-col {
	width: 100%;
	padding: 0 8px;
}

@media only screen and (min-width: 461px) {
	.filter-col {
		width: auto;
	}
}

@media only screen and (min-width: 461px) {
	.filter-col select {
		min-width: 150px;
	}

	.filter-col input {
		max-width: 130px;
	}
}


/*
 * Modal
 */

.delete .button a, .popupbtn a {
	color: #2E2E2E;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.delete .button {
    background: #f80808;
}

.popupbtn {
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 45px;
	opacity: 0.9;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 14px;
	color: #2E2E2E;
	text-align: center;
	letter-spacing: 0.75px;
	background: #00D2FF;
}

input .deletebtn  {
	height: 45px;
}

.delete .button:hover, .delete .button:hover a, .popupbtn:hover, .popupbtn:hover a {
	color: #fff;
	opacity:1;
}

.cancelbtn, .deletebtn {
	float: left;
	width: 50%;
}

.cancelbtn {
	background-color: #00D2FF;
}

.deletebtn {
	background-color: #f80808;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px 20px 12px 20px;
	background: #fff;
	width: 40vw;
	position: relative;
	transition: all 5s ease-in-out;
    text-align: center;
}

.popup h2 {
	margin-top: 0;
	color: #333;
}

/*.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup .close:hover {
	color: #06D85F;
}*/

.popuptext {
	margin-bottom: 5px;
	max-height: 30%;
	overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/*
 *	Infield CSS
 */
 
.col {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 8px;
    align-items: stretch;
  	align-content: stretch;
}

.h1 {
	height: 35px;
}

.block2 {
    flex-grow: 1;
    max-width: 50%;
    margin: 0 8px;
    background-color: green; 
}
 
.vflex {
	display: flex;
	flex: 1;
	flex-direction: row; 
}

@font-face {
    font-family: LcdStd;
    src: local('LcdStd'), url('../../font/LcdStd.otf') format('opentype');
}
 
.display {
	position: relative;
	padding: 0 8px;
	margin: 8px 8px;
	width: 100%;
	background: white;
	font: LcdStd;
	font-size: 10em;
	text-align:center;
}
.display_input {
	position: relative;
	padding: 0 8px;
	margin: 8px 8px;
	width: 100%;
	background: white;
}
.display_input input {
    max-width: 70px;
    height: auto;
    border: 0;
    background: #FFF;
    padding: 0 0px;
    font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
    font-size: 10em;
    border-radius: 0;
    -webkit-appearance: none;
    color: #2E2E2E;
}
.display_input input::-webkit-outer-spin-button,
.display_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.display_input input[type=number] {
  -moz-appearance: textfield;
}
.display.active {
	border: 8px solid rgb(0, 201, 0);
}

.big_button {
	padding: 8px;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	background: #00D2FF;
	color: #2E2E2E;
	height: auto;
	cursor: pointer;
}
.big_button.disabled {
	padding: 8px;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	background: #D8D8D8;
	color: #2E2E2E;
	height: auto;
	cursor: initial;
}
.big_button:hover, .big_button:hover a, input.big_button:hover {
    color: #FFF;
}
.big_button.disabled:hover, .big_button.disabled:hover a, input.big_button.disabled:hover {
    color: #2E2E2E;
}

.green {
	background-color: rgb(0, 201, 0);
}
.red{
	background-color: #f80808;
}
.grey{
	background-color: #D8D8D8;
}

input.big {
	position: relative;
	padding: 8px;
	width: 100%;
	height: 100%;
	font-size: 6em;
	text-align:center;
}

.inlinefilterblock {
	padding: 0 6px;
}

.inlinefilterblock .filter-col {
	padding: 0 2px;
	flex: 1 2 0;
}