{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!--  include "templates/header.html"  in header.html:  extends "base.html"  --!>
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--
    <style>
      .navbar { margin-bottom: 1rem; }
      tr.canceled td, tr td.canceled { font-style: italic; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4JST0HwAFRgIefzRCKwAAAABJRU5ErkJggg=='); background-repeat: repeat-x; background-position: 50% 50%; }
    </style>
--!>    
    {% block stylesheets %}{% endblock %}
    <!-- Seitentitel -->
    <title>{% block title %}VUniReg{% endblock %}</title>
  </head>
  
  <body>
  <div class="flex">
  
    <div class="menu-wrap">
        <nav class="container no-list">
        
            <!-- [THE HAMBURGER] -->
                <input type="checkbox" id="hamburger">
                <label for="hamburger" class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </label>
    
            <!-- [MENU ITEMS] -->
            <ul id="main-menu">
                <li>
                    <input type="checkbox" id="nav_1_1" class="open-sub-menu">
                    <label for="nav_1_1" class="sub-menu-button">
                        <i class="icon-right-open"></i>
                    </label>
                    <a href="{% url 'vunireg:event' event_id=event.pk %}">Wettkampf</a>
                    <ul class="no-list">
                        <li><a href="{% url 'vunireg:event_edit_eventdata' event_id=event.pk %}">Wettkampfdaten</a></li>
                        <li><a href="{% url 'vunireg:event_edit_scoringcat' event_id=event.pk scoringcat_id=None %}">Wertungen</a></li>
                        <li><a href="{% url 'vunireg:event_edit_competition' event_id=event.pk %}">Wettbewerbe</a></li>
                        <li><a href="{% url 'vunireg:event_edit_qualification' event_id=event.pk qualification_id=None %}">Qualifikationen</a></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="nav_1_2" class="open-sub-menu">
                    <label for="nav_1_1" class="sub-menu-button">
                        <i class="icon-right-open"></i>
                    </label>
                    <a href="{% url 'vunireg:entrys' event_id=event.pk %}">Meldungen</a>
                    <ul class="no-list">
                        <li><a href="{% url 'vunireg:person_list' event_id=event.pk %}">Teilnehmer verwalten</a></li>
                        <li><a href="{% url 'vunireg:entrys_team_list' event_id=event.pk %}">Staffeln verwalten</a></li>
                        <li><a href="{% url 'vunireg:club_list' event_id=event.pk %}">Vereine verwalten</a></li>
<!--                        <li><a href="{% url 'vunireg:entrys_entry_list' event_id=event.pk %}">Meldungs Liste</a></li>          --!>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="nav_1_3" class="open-sub-menu">
                    <label for="nav_1_2" class="sub-menu-button">
                        <i class="icon-right-open"></i>
                    </label>
                    <a href="{% url 'vunireg:start' event_id=event.pk %}">Starts</a>
                    <ul class="no-list">
                        <li><a href="{% url 'vunireg:competition_list' event_id=event.pk %}">Wettbewerbe zusammenlegen</a></li>
                        <li><a href="{% url 'vunireg:start_startnr' event_id=event.pk %}">Startnummern zuweisen</a></li>
                        <li><a href="{% url 'vunireg:start_seed_overview' event_id=event.pk %}">Starts setzten</a></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="nav_1_4" class="open-sub-menu">
                    <label for="nav_1_3" class="sub-menu-button">
                        <i class="icon-right-open"></i>
                    </label>
                    <a href="{% url 'vunireg:execution' event_id=event.pk %}">Durchführung</a>
                    <ul class="no-list">
                        <li><a href="{% url 'vunireg:execution_edit_result' event_id=event.pk competition_id=None %}">Ergebnis Eingabe</a></li>
                        <li><a href="{% url 'vunireg:execution_show_result' event_id=event.pk scoringcat_id=None discipline_id=None %}">Ergebnis Übersicht</a></li>
                        <li><a href="#">Urkunden</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="maincontent clerafix">
<!--
        <figure class="clearfix">
            <div class="image-container">
                <img src="test.jpg" alt="Titel">
                <div class="breadcrumb-box">
                    <ul class="no-list breadcrumb inline-list">
                        <li>
                            <a href="#"><b>Start</b></a>
                            ›
                        </li>
                        <li>
                            <a href="#">Breadcrumb Navigation</a>
                        </li>
                    </ul>
                </div>
                <div class="headline">
                    <h1>
                        <strong>Seitentitel</strong>
                    </h1>
                </div>
            </div>
        </figure>
--!>
        <div class="row content clearfix">        
            {% block content %}{% endblock %}
        </div>
    </div>


    <footer>
        <div class="no-list container clearfix">
<!--        
            <ul class="no-list pull-right inline-list">
                <li><a href="#">Infos zur Software</a></li>
                <li><a href="#">Vocke Unicycling</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
--!>            
            <div class="no-list pull-left inline-list">
                <p>© 2021 VockeUnicycling - VUni Competition Manager 1.0.1021</p>
            </div>
        </div>
    </footer>

    {% block javascripts %}{% endblock %}
    </div>
    
    <div id="toplink">
        <div class="backtotop-icon">
            <a href="#top" style="display: block; height: 38px;"><i class="icon-up-open-big" style="padding-top: 10px; display: block;"></i></a>
        </div>
    </div>
    
    </body>
</html>
