{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!--  include "templates/header.html"  in header.html:  extends "base.html"  --!>
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--
    <style>
      .navbar { margin-bottom: 1rem; }
      tr.canceled td, tr td.canceled { font-style: italic; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4JST0HwAFRgIefzRCKwAAAABJRU5ErkJggg=='); background-repeat: repeat-x; background-position: 50% 50%; }
    </style>
--!>    
    {% block stylesheets %}{% endblock %}
    <!-- Seitentitel -->
    <title>{% block title %}VUniReg{% endblock %}</title>
  </head>
  
  <body>
  <div>
  
  <header class="clearfix">
  
<!--  
        <section id="topmenu" class="no-list container clearfix">
            <a class="pull-left logo" href="#">
                <img src="logo-vuni.jpg" alt="Logo VockeUnicycling"></img>
            </a>
            <div class="no-list pull-right inline-list">
                <form class="search-form" id="search_it-form1" action="./index.php?article_id=11" method="get">
                    <fieldset>
                        <legend>{{ Suche }}</legend>
                        <label for="search">{{ Suchbegriff }}</label>
                        <input name="article_id" value="11" type="hidden">
                        <input name="clang" value="1" type="hidden">
                        <input name="search" class="search" value="" placeholder="Suche" type="text">
                        <button type="submit" class="search-icon" aria-label="Submit Search">
                            <i class="icon-search"></i>
                        </button>
                    </fieldset>
                </form>
            </div>
        </section>
--!>

    </header>
  
    <div class="menu-wrap">
        <nav class="container no-list">
        
            <!-- [THE HAMBURGER] -->
                <input type="checkbox" id="hamburger">
                <label for="hamburger" class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </label>
    
            <!-- [MENU ITEMS] -->
            <ul id="main-menu">
                <li>
                    <input type="checkbox" id="nav_1_1" class="open-sub-menu">
                    <label for="nav_1_1" class="sub-menu-button">
                        <i class="icon-right-open"></i>
                    </label>
                    <a href="{% url 'vunireg:index' %}">Wettkampf Wählen</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="maincontent clerafix">
<!--
        <figure class="clearfix">
            <div class="image-container">
                <img src="test.jpg" alt="Titel">
                <div class="breadcrumb-box">
                    <ul class="no-list breadcrumb inline-list">
                        <li>
                            <a href="#"><b>Start</b></a>
                            ›
                        </li>
                        <li>
                            <a href="#">Breadcrumb Navigation</a>
                        </li>
                    </ul>
                </div>
                <div class="headline">
                    <h1>
                        <strong>Seitentitel</strong>
                    </h1>
                </div>
            </div>
        </figure>
--!>
        <div class="row content clearfix">
            {% block content %}{% endblock %}
        </div>
    </div>


    <footer>
        <div class="no-list container clearfix">
<!--        
            <ul class="no-list pull-right inline-list">
                <li><a href="#">Infos zur Software</a></li>
                <li><a href="#">Vocke Unicycling</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
--!>            
            <div class="no-list pull-left inline-list">
                <p>© 2020 VockeUnicycling</p>
            </div>
        </div>
    </footer>

    {% block javascripts %}{% endblock %}
    </div>
    
    <div id="toplink">
        <div class="backtotop-icon">
            <a href="#top" style="display: block; height: 38px;"><i class="icon-up-open-big" style="padding-top: 10px; display: block;"></i></a>
        </div>
    </div>
    
    </body>
</html>
