{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!--  include "templates/header.html"  in header.html:  extends "base.html"  --!>
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- JS -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    
    <script language="JavaScript">
<!--
var startTime = 0
var start = 0
var end = 0
var diff = 0
var timerID = 0
var timerID2 = 0
function chrono(){
	end = new Date()
	diff = end - start
	diff = new Date(diff)
	var msec = diff.getMilliseconds()
	var msecr = Math.ceil(msec/10)
	var sec = diff.getSeconds()
	var min = diff.getMinutes()
	if(msecr > 99){
		msecr = "00"
		sec = sec + 1
	}
	else if(msecr < 10){
		msecr = "0" + msecr
	}
	if (sec < 10){
		sec = "0" + sec
	}
	document.getElementById("chronotime").innerHTML = min + "." + sec + ":" + msecr
	document.getElementById("inputchronotime").value = min + "." + sec + ":" + msecr
	timerID = setTimeout("chrono()", 200)
	readSerial()
}
function chronoStart(){
	document.chronoForm.startstop.value = "stop"
	document.chronoForm.startstop.onclick = chronoStop
	document.chronoForm.reset.onclick = chronoReset
	document.getElementById("unload_person").disabled = true
	document.getElementById("unload_person").classList.add("disabled")
	document.chronoForm.resettimer.disabled = true
	document.chronoForm.resettimer.classList.add("disabled")
	start = new Date()
	chrono()
}
function chronoContinue(){
	document.chronoForm.startstop.value = "stop"
	document.chronoForm.startstop.onclick = chronoStop
	document.chronoForm.reset.onclick = chronoReset
	start = new Date()-diff
	start = new Date(start)
	chrono()
}
function chronoReset(){
	document.getElementById("chronotime").innerHTML = "0.00:00"
	document.getElementById("unload_person").disabled = false
	document.getElementById("unload_person").classList.remove("disabled")
	document.chronoForm.startstop.value = "start"
	document.chronoForm.startstop.onclick = function() {chronoStart(); sendSerial();}
	document.chronoForm.reset.onclick = chronoReset
	document.chronoForm.resettimer.disabled = true
	document.chronoForm.resettimer.classList.add("disabled")
	start = new Date()
}
function chronoStopReset(){
	document.getElementById("chronotime").innerHTML = "0.00:00"
	document.chronoForm.startstop.onclick = chronoStart
}
function chronoStop(){
	document.chronoForm.startstop.value = "start"
	document.chronoForm.startstop.onclick = chronoContinue
	document.chronoForm.resettimer.disabled = false
	document.chronoForm.resettimer.classList.remove("disabled")
	clearTimeout(timerID)
}

function saveResult(){
	var input_min = document.chronoForm.input_min.value
	var input_sec = document.chronoForm.input_s.value
	var input_msec = document.chronoForm.input_ms.value
	document.getElementById("inputchronotime").value = input_min + "." + input_sec + ":" + input_msec
	document.getElementById("timetosave").innerHTML = input_min + "." + input_sec + ":" + input_msec
}
function sendSerial(){
    data = document.chronoForm.startstop.value
    console.log(new Date() + ' - Funktion sendSerial aufgerufen')
    console.log(data)
    $.get("{% url 'vunireg:infield_serialsend' %}", {"data":data})
//     $.ajax({
//         type: 'GET',
//         url: "{% url 'vunireg:infield_serialsend' %}",
//         data: {"value":data},
//         success: function (response) {
//             console.log('Success')
//         }
//         error: function (response) {
//             console.log('Error')
//         }
//     })
}
function readSerial(){
    console.log(new Date() + ' - Funktion readSerial aufgerufen')
    $.get("{% url 'vunireg:infield_serialread' %}").done(function(response){
        console.log(response)
        if(response != '') {
            clearTimeout(timerID)
            document.getElementById("chronotime").innerHTML = response
            document.getElementById("inputchronotime").value = response
        }
//        if(response == 'Time:\n') {
//            $.get("{% url 'vunireg:infield_serialread' %}").done(function(response){
//                console.log(response)
//                document.getElementById("chronotime").innerHTML = response
//            })
//        }
    })
}
//-->
</script>
<!--
    <style>
      .navbar { margin-bottom: 1rem; }
      tr.canceled td, tr td.canceled { font-style: italic; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4JST0HwAFRgIefzRCKwAAAABJRU5ErkJggg=='); background-repeat: repeat-x; background-position: 50% 50%; }
    </style>
--!>    
    {% block stylesheets %}{% endblock %}
    <!-- Seitentitel -->
    <title>{% block title %}VUniReg{% endblock %}</title>
  </head>
  
  <body>
  <div class="flex">
  
    <div class="menu-wrap">
        <nav class="container no-list">
        
            <!-- [THE HAMBURGER] -->
                <input type="checkbox" id="hamburger">
                <label for="hamburger" class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </label>
    
            <!-- [MENU ITEMS] -->
            <ul id="main-menu" style="justify-content: space-between">
                <li>
                    <input type="checkbox" id="nav_1_1" class="open-sub-menu">
                    <label for="nav_1_3" class="sub-menu-button">
                        <i class="icon-right-open"></i>
                    </label>
                    <a href="{ url 'vunireg:infield' event_id=event.pk }">Logout</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="maincontent clerafix">
<!--
        <figure class="clearfix">
            <div class="image-container">
                <img src="test.jpg" alt="Titel">
                <div class="breadcrumb-box">
                    <ul class="no-list breadcrumb inline-list">
                        <li>
                            <a href="#"><b>Start</b></a>
                            ›
                        </li>
                        <li>
                            <a href="#">Breadcrumb Navigation</a>
                        </li>
                    </ul>
                </div>
                <div class="headline">
                    <h1>
                        <strong>Seitentitel</strong>
                    </h1>
                </div>
            </div>
        </figure>
--!>
        <div class="row content clearfix">        
            {% block content %}{% endblock %}
        </div>
    </div>


    <footer>
        <div class="no-list container clearfix">
<!--        
            <ul class="no-list pull-right inline-list">
                <li><a href="#">Infos zur Software</a></li>
                <li><a href="#">Vocke Unicycling</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
--!>            
            <div class="no-list pull-left inline-list">
                <p>© 2020 VockeUnicycling - VUni Competition Manager 1.0.1020</p>
            </div>
        </div>
    </footer>

    {% block javascripts %}{% endblock %}
    </div>

<!--     
    <div id="toplink">
        <div class="backtotop-icon">
            <a href="#top" style="display: block; height: 38px;"><i class="icon-up-open-big" style="padding-top: 10px; display: block;"></i></a>
        </div>
    </div>
--!>
    
    </body>
</html>
