{% block 2ndMenuLevel %}
<div class="menu-wrap">
    <nav class="container no-list">

        <!-- [MENU ITEMS] -->
        <ul id="main-menu">
            <li>
                <input type="checkbox" id="nav_1_1" class="open-sub-menu">
                <label for="nav_1_1" class="sub-menu-button">
                    <i class="icon-right-open"></i>
                </label>
                <a href="{% url 'vunireg:event' event_id=event.pk %}">Meldungen</a>
            </li>
            <li>
                <input type="checkbox" id="nav_1_2" class="open-sub-menu">
                <label for="nav_1_1" class="sub-menu-button">
                    <i class="icon-right-open"></i>
                </label>
                <a href="{% url 'vunireg:event' event_id=event.pk %}">Staffeln</a>
            </li>
            <li>
                <input type="checkbox" id="nav_1_2" class="open-sub-menu">
                <label for="nav_1_1" class="sub-menu-button">
                    <i class="icon-right-open"></i>
                </label>
                <a href="{% url 'vunireg:event' event_id=event.pk %}">CSV-Im-/Export</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}