{% extends "infield_base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>IUF Slalom</h2>
    </div>
    
    <div class="row">
        {% if messages %}
        {% for message in messages %}
            <div class="response-field{% if message.tags == 'error' %} error{% endif %}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
        {% endif %}
    </div>
    
    <div class="row">
        <fieldset>
        <div class="row">
            <div class="col">
                <div class="row" style="padding-bottom: 4px;">
                    <div class="form-col">
                    {% if not system.state == 1 %}
                        <div class="colorpick red"></div>
                        <span class="text col">System nicht Verbunden</span>
                    {% elif system.state %}
                        <div class="colorpick green"></div>
                        <span class="text col">System Verbunden</span>
                    {% endif %}
                    </div>
                    <div class="form-col">
                    {% if system.stateLS1 == 1 %}
                        <div class="colorpick red"></div>
                    {% elif system.stateLS1 == 0 %}
                        <div class="colorpick green"></div>
                    {% else %}
                        <div class="colorpick"></div>
                    {% endif %}
                        <span class="text col">LS1</span>
                    </div>
                    <div class="form-col">
                    {% if system.stateLS2 == 1 %}
                        <div class="colorpick red"></div>
                    {% elif system.stateLS2 == 0 %}
                        <div class="colorpick green"></div>
                    {% else %}
                        <div class="colorpick"></div>
                    {% endif %}
                        <span class="text col">LS2</span>
                    </div>
                    <div class="form-col">
                    {% if system.stateLS3 == 1 %}
                        <div class="colorpick red"></div>
                    {% elif system.stateLS3 == 0 %}
                        <div class="colorpick green"></div>
                    {% else %}
                        <div class="colorpick"></div>
                    {% endif %}
                        <span class="text col">LS3</span>
                    </div>
                    <div class="form-col">
                    {% if system.stateLS4 == 1 %}
                        <div class="colorpick red"></div>
                    {% elif system.stateLS4 == 0 %}
                        <div class="colorpick green"></div>
                    {% else %}
                        <div class="colorpick"></div>
                    {% endif %}
                        <span class="text col">LS4</span>
                    </div>
                </div>
                
                <form name="chronoForm">
                
                <div class="row">
                {% if system.state == -1 %}
                    <div class="display_input">
                        <input type="number" min="0" max="9" style="max-width: 80px;" id="input_min" name="input_min" placeholder="0" {% if not start.person %}disabled="" {% endif %}>
                        <input type="text" style="max-width: 35px;" disabled="" id="sep_s" name="sep_s" placeholder=":" {% if start.person %}value=":" {% endif %}>
                        <input type="number" min="0" max="59" style="max-width: 160px;" id="input_s" name="input_s" placeholder="00" {% if not start.person %}disabled="" {% endif %}>
                        <input type="text" style="max-width: 35px;" disabled="" id="sep_ms" name="sep_ms" placeholder="." {% if start.person %}value="." {% endif %}>
                        <input type="number" min="0" max="99" style="max-width: 160px;" id="input_ms" name="input_ms" placeholder="00" {% if not start.person %}disabled="" {% endif %}>
                    </div>
                {% else %}
                    <div class="display">
                        <span id="chronotime">0.00:00</span>
                    </div>
                {% endif %}
                </div>
                <div class="row bottom">
                {% if system.state == -1 %}
                    <div class="col">
                        {% if start %}
                            {% if result_list|length < 2 %}
                            <input type="button" class="big_button" name="save_result" value="ergebnis speichern" onClick="saveResult(); location.href='#save_valid_popup';" />
                            {% else %}
                            <input type="button" class="big_button disabled" disabled="" name="save_result" value="ergebnis speichern"/>
                            {% endif %}
                        {% else %}
                        <input type="button" class="big_button disabled" disabled="" name="save_result" value="ergebnis speichern"/>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if start %}
                            {% if result_list|length < 2 %}
                            <input type="button" class="big_button" name="save_result_invalid" onclick="location.href='#save_invalid_popup';" value="lauf ungültig"/>
                            {% else %}
                            <input type="button" class="big_button disabled" disabled="" name="save_result_invalid" value="lauf ungültig"/>
                            {% endif %}
                        {% else %}
                        <input type="button" class="big_button disabled" disabled="" name="save_result_invalid" value="lauf ungültig"/>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="col">
                        {% if start %}
                            {% if result_list|length < 2 %}
                            <input type="button" class="big_button" name="startstop" value="start" onClick="sendSerial(); chronoStart();" />
                            {% else %}
                            <input type="button" class="big_button disabled" disabled="" name="startstop" value="start"/>
                            {% endif %}
                        {% else %}
                        <input type="button" class="big_button disabled" disabled="" name="startstop" value="start"/>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if start %}
                        <input type="button" class="big_button disabled" disabled="" name="resettimer" onclick="location.href='#popup1';" value="lauf beenden"/>
                        {% else %}
                        <input type="button" class="big_button disabled" disabled="" name="resettimer" value="lauf beenden"/>
                        {% endif %}
                    </div>
                {% endif %}
                </div>
                
                </form>
                
            </div>
            <div class="col">
                <div class="row">
                    <div class="form-col">
                        {% if start.person.gender == 'f' %}
                        <h3>Aktuelle Starterin</h3>
                        {% else %}
                        <h3>Aktueller Starter</h3>
                        {% endif %}
                    </div>
                </div>
                    
                <form name="input_form" action="" method="POST">
                {% csrf_token %}
                    
                <div class="row">
                        <div class="col">
                            <label for="id_startnr">Startnummer</label>
                            <input class="big" name="startnr" placeholder="Nr." id="id_startnr" type="text" {% if start.person %}disabled="" value="{{ start.person.startnr }}"{% endif %}>
                        </div>
                        <div class="col">
                            <div class="row vflex">
                                <div class="col">
                                    <label for="id_forename">Vorname</label>
                                    <input name="forename" placeholder="Vorname" id="id_forename" type="text" disabled="" {% if start.person %}value="{{ start.person.forename }}"{% endif %}>
                                </div>
                            </div>
                            <div class="row vflex">
                                <div class="col">
                                    <label for="id_surname">Nachname</label>
                                    <input name="surname" placeholder="Nachname" id="id_surname" type="text" disabled="" {% if start.person %}value="{{ start.person.surname }}"{% endif %}>
                                </div>
                            </div>
                            <div class="row vflex">
                                <div class="col">
                                    <label for="id_gender">Altersklasse</label>
                                    <input name="competition" placeholder="AK" id="id_competition" type="text" disabled="" {% if start.person %}value="{{ start.competition.fullname }}"{% endif %}>
                                </div>
                            </div>
                            <div class="row vflex">
                                <div class="col">
                                    <label for="id_gender">Verein</label>
                                    <input name="club" placeholder="Verein" id="id_club" type="text" disabled="" {% if start.person %}value="{{ start.person.club }}"{% endif %}>
                                </div>
                            </div>
                        </div>
                </div>
                
                    {% if start %}
                    <h4>Ergebnisse</h4>
                    <div class="row">
                        <div class="inlinetableblock" style="max-height: 100px; overflow-y: auto;">
                            <table class="table-list" style="line-height:1.3em; margin-bottom: 0px;">
                                {% if result_list %}
                                <thead>
                                    <tr>
                                        <th width="10px">
                                        </th>
                                        <th class="sortable">
                                            <p>Run</p>
                                        </th>
                                        <th class="sortable">
                                            <p>Leistung</p>
                                        </th>
                                        <th class="sortable">
                                            <p></p>
                                        </th>
                                        <th class="sortable">
                                            <p>Uhrzeit</p>
                                        </th>
                                        <th class="sortable">
                                            <p>Judge</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for result in result_list %}
                                    <tr>
                                        <td>
                                            {% if not result.custom2 == 'valid' %}
                                                <div class="colorpick red"></div>
                                            {% elif result.custom2 == 'valid' %}
                                                <div class="colorpick green"></div>
                                            {% else %}
                                                <div class="colorpick yellow"></div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <p>{{forloop.counter}}</p>
                                        </td>
                                        <td>
                                            <p>{{result.value}}</p>
                                        </td>
                                        <td>
                                            {% if result.custom2 == 'valid' %}
                                            <p></p>
                                            {% else %}
                                            <p>{{result.custom2}}</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <p>{{result.timestamp}}</p>
                                        </td>
                                        <td>
                                            <p>{{result.judge}}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% else %}
                                Keine Ergebnisse vorhanden!
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                
                    <div class="row">
                        <div class="col grow">
                            {% if not start %}
                            <input type="submit" class="big_button" value="Laden" name="load_person">
                            {% else %}
                            <input type="submit" class="big_button" value="Verlassen" id="unload_person" name="unload_person">
                            {% endif %}
                        </div>
                    </div>
                    
                 <div class="row bottom">
                     <div class="col">
                         <input type="button" class="big_button" value="SERIAL_READ" name="serialread" onClick="{% if system.state == 1 %}readSerial();{% endif %}">
                     </div>
                 </div>

                
                </form>
            </div>
        </div>
             
        {% if system.state == -1 %}
        <div id="save_valid_popup" class="overlay">
            <div class="popup">
                <h2>ACHTUNG</h2>
                <div class="popuptext">
                    Sind Sie sicher, dass sie den Lauf mit der Zeit <span name="timetosave" id="timetosave"></span> Minuten speichern möchten?
                </div>
                <div class="clearfix">
                    <form class="save-form" action="" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="inputchronotime" id="inputchronotime" value="None">
                        <input type="submit" class="popupbtn green" value="Lauf gültig" id="save_result_valid" name="save_result_valid" onclick="location.href='#';">
                        <div class="popupbtn"><a href="#">Abbrechen</a></div>
                    </form>
                </div>
            </div>
        </div>
        <div id="save_invalid_popup" class="overlay">
            <div class="popup">
                <h2>ACHTUNG</h2>
                <div class="popuptext">
                    Sind Sie sicher, dass sie den Lauf als ungültiges Ergebnis speichern möchten?
                </div>
                <div class="clearfix">
                    <form class="save-form" action="" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="inputchronotime" id="inputchronotime" value="None">
                        <input type="submit" class="popupbtn red" value="Lauf ungültig" id="save_result_invalid" name="save_result_invalid" onclick="location.href='#';">
                        <div class="popupbtn"><a href="#">Abbrechen</a></div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>ACHTUNG</h2>
                <div class="popuptext">
                    Sind Sie sicher, dass sie den Lauf beenden möchten?
                </div>
                <div class="clearfix">
                    <form class="save-form" action="" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="inputchronotime" id="inputchronotime" value="None">
                        <input type="submit" class="popupbtn green" value="Lauf gültig" id="save_result_valid" name="save_result_valid" onclick="location.href='#';">
                        <input type="submit" class="popupbtn red" value="Lauf ungültig" id="save_result_invalid" name="save_result_invalid" onclick="location.href='#';">
                        <input type="text" class="popupbtn grey" value="Lauf ignorieren" onclick="chronoReset(), location.href='#';">
                        <div class="popupbtn"><a href="#">Abbrechen</a></div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
                
        <div class="row flex"></div>
        
        </fieldset>
        
        <fieldset>
        
        <div class="row bottom clearfix">
            <div class="form-col">
                    <label class="togglebutton" for="StartList">Alle Starts zeigen</label>
            </div>
            <div class="col">
            </div>
        </div>
            <input class="toggleinput" id="StartList" type="checkbox">
        <div class="toggelcontent">
            <div class="row">
                    <div class="col">
                      <label for="startnr">Startnummer:</label>
                      <input name="startnr" placeholder="Start Nr." id="id_startnr" type="text">
                    </div>
                    <div class="col">
                      <label for="id_forename">Person Vorname:</label>
                      <input name="forename" placeholder="Vorname" id="id_forename" type="text">
                    </div>
                    <div class="col">
                      <label for="id_surname">Person Nachname:</label>
                      <input name="surname" placeholder="Nachname" id="id_surname" type="text">
                    </div>
                    <div class="col">
                      <label for="id_gender">Altersklasse:</label>
                      <input name="competition" placeholder="AK" id="id_competition" type="text">
                    </div>
                    <div class="col">
                      <label for="id_club">Verein:</label>
                      <input name="club" placeholder="Verein" id="id_club" type="text">
                    </div>
                    <div class="col">
                        <button type="submit">Auswählen</button>
                    </div>
                    <div class="col">
                        <input type="button" class="button" name="add_start" onclick="location.href='#popup2';" value="nachmeldung"/>
                    </div>
                </div>
            <div class="row">
                    <div class="inlinetableblock" style="max-height: 100%;">
                        <table class="table-list" style="line-height:1.3em; margin-bottom: 0px;">
                            <thead>
                                <tr>
                                    <th width="10px">
                                    </th>
                                    <th class="sortable">
                                        <p>St.Nr.</p>
                                    </th>
                                    <th class="sortable">
                                        <p>Vorname</p>
                                    </th>
                                    <th class="sortable">
                                        <p>Nachname</p>
                                    </th>
                                    <th class="sortable">
                                        <p>AK</p>
                                    </th>
                                    <th class="sortable">
                                        <p>Run 1</p>
                                    </th>
                                    <th class="sortable">
                                        <p>Run 2</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if start_list %}
                            {% for start in start_list %}
                                <tr>
                                    <td>
                                        {% if not start.person.forename or not start.person.surname or not start.person.gender or not start.person.dateofbirth or not start.person.club %}
                                            <div class="colorpick red"></div>
                                        {% endif %}
                                        {% if not start.person.entry_set.all %}
                                            <div class="colorpick"></div>
                                        {% endif %}
                                        {% if start.person.entry_set.all %}
                                            <div class="colorpick yellow"></div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <p>{{start.person.startnr}}</p>
                                    </td>
                                    <td>
                                        <p>{{start.person.forename}}</p>
                                    </td>
                                    <td>
                                        <p>{{start.person.surname}}</p>
                                    </td>
                                    <td>
                                        <p>{{start.competition.fullname}}</p>
                                    </td>
                                    <td>
                                        <p>{{start.result_set.first.value}}</p>
                                    </td>
                                    <td>
                                        <p>{{start.result_set.second.value}}</p>
                                    </td>
                                </tr>
                                {% if forloop.last %}
                                <tfoot>
                                    <tr>
                                        <td colspan = '100%'>
                                            <p>Gesamt: {{ forloop.counter }}</p>
                                        </td>
                                    </tr>
                                </tfoot>
                                {% endif %}
                            {% endfor %}
                            {% else %}
                            Keine Starts vorhanden!
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
                
        </fieldset>
        
        <div id="popup2" class="overlay">
            <div class="popup">
                <h2>Nachmeldung</h2>
                <div class="popuptext">
                    Nachmeldung einer Startnummer für die Disziplin IUF Slalom, über die Annahme entscheidet der Schiedsrichter!
                </div>
                <div class="clearfix">
                    <form class="entry-form" action="" method="POST">
                    {% csrf_token %}
                        <div class="popupbtn"><a href="#">Abbrechen</a></div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    
 </div>
{% endblock %}