{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Übersicht Wettbewerbe</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <form class="filter-form" method="get">
            <fieldset>
            <h4>Filter</h4>
            <div class="row clearfix bottom">
                <div class="filter-col">
                  {{ filter.form.discipline.label_tag }}
                  {% render_field filter.form.discipline %}
                </div>
                <div class="filter-col">
                  {{ filter.form.fullname.label_tag }}
                  {% render_field filter.form.fullname__icontains placeholder='Bezeichnung AK' %}
                </div>
                <div class="filter-col grow">
                  {{ filter.form.gender.label_tag }}
                  {% render_field filter.form.gender %}
                </div>
                <div class="filter-col">
                  {{ filter.form.maxage.label_tag }}
                  {% render_field filter.form.maxage__gt placeholder='Alter größer' %}
                </div>
                <div class="filter-col">
                  {{ filter.form.maxage.label_tag }}
                  {% render_field filter.form.maxage__lt placeholder='Alter kleiner' %}
                </div>
                <div class="filter-col">
                  {{ filter.form.entrycount.label_tag }}
                  {% render_field filter.form.entrycount__gt placeholder='#Meldungen über' %}
                </div>
                <div class="filter-col grow">
                    <button type="submit">Anzeigen</button>
                </div>
            </div>
            </fieldset>
        </form>
    </div>
        
    <h3>Altersklassen-Wettbewerbe</h3>
    <div class="row">
        <fieldset>
            <div class="row clearfix bottom">
                <div class="form-col">
                    <form method="get">
                        <input type="submit" class="btn" value="Wettbewerbe zusammenlegen" name="merge_competitions">
                    </form>
                </div>
                <div class="form-col grow"></div>
                <div class="form-col">
                        <label class="togglebutton" for="toggle-1">Details</label>
                </div>
            </div>
            
            <input type="checkbox" class="toggleinput" id="toggle-1" class="visually-hidden">
            <div class="toggelcontent">
                <div class="sep-line"></div>
                <div class="row bottom">
                    <div class="form-col">
                <form method="get">
                    <input type="submit" class="btn" value="Meldungen den Wettbewerben zuteilen" name="match_entrys">
                </form>
                </div>
                <div class="form-col">
                    <form method="get">
                        <input type="submit" class="btn" value="Zusammenlegung rückgänig machen" name="unmerge_competitions">
                    </form>
                </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="row">
        <div class="tableblock">
            <table class="table-list">
                <thead>
                    <tr>
                        <th width="10px">
                        </th>
                        <th class="sortable" width="120px">
                            <p>Disziplin</p>
                        </th>
                        <th class="sortable" width="100px">
                            <p>AK</p>
                        </th>
                        <th class="sortable" width="45px">
                            <p>Geschlecht</p>
                        </th>
                        <th class="sortable" width="">
                            <p>Alter bis</p>
                        </th>
                        <th class="sortable" width="">
                            <p>Anzahl Meldungen</p>
                        </th>
                        <th class="sortable" width="">
                            <p>Zusammengelegt</p>
                        </th>
                
                        <th>
                            <p></p>
                        </th>
                
                    </tr>
                </thead>
                <tbody>
                    {% for competition in filter.qs %}
                    <tr {% if competition.ismerged == True %} class="ismerged"{% endif %}>
                        <!--
                        <td>
                            <p>{{ forloop.counter }}</p>
                        </td>
                        --!>
                        <td>
                            {% if competition.entrycount < 6 and competition.ismerged == False %}
                                <div class="colorpick red"></div>
                            {% endif %}
                            {% if competition.entrycount >= 6 and competition.ismerged == False %}
                                <div class="colorpick green"></div>
                            {% endif %}
                            {% if competition.ismerged == True %}
                                <div class="colorpick"></div>
                            {% endif %}
                        </td>
                        <td>
                            <p>{{competition.discipline}}</p>
                        </td>
                        <td>
                            <p>{{competition.fullname}}</p>
                        </td>
                        <td>
                            <p>{{competition.gender}}</p>
                        </td>
                        <td>
                            <p>{{competition.maxage}}</p>
                        </td>
                        <td>
                            <p>{{competition.entrycount}}</p>
                        </td>
                        <td>
                            <p>{{competition.ismerged}}</p>
                        </td>
                
                        <td class="hoverable">
                            {% if competition.ismerged == False %}
                            <a style="display:block" href="{% url 'vunireg:merge_singlecompetition' event_id=event.pk competition_id=competition.pk %}">Merge</a>
                            {% endif %}
                        </td>
                
                    </tr>
                    {% if forloop.last %}
                    <tfoot>
                        <tr>
                            <td colspan = '100%'>
                                <p>Gesamt: {{ forloop.counter }}</p>
                            </td>
                        </tr>
                    </tfoot>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <h3>Final-Wettbewerbe</h3>
    <div class="row">
        <div class="tableblock">
            <table class="table-list">
                <thead>
                    <tr>
                        <th width="10px">
                        </th>
                        <th class="sortable" width="120px">
                            <p>Disziplin</p>
                        </th>
                        <th class="sortable" width="150px">
                            <p>Final-Typ</p>
                        </th>
                        <th class="sortable" width="45px">
                            <p>Geschlecht</p>
                        </th>
                        <th class="sortable" width="">
                            <p>Alter bis</p>
                        </th>
                        <th class="sortable" width="">
                            <p>Anzahl Meldungen</p>
                        </th>
                        <th class="sortable" width="">
                            <!--<p>Zusammengelegt</p>--!>
                        </th>
                
                        <th>
                            <p></p>
                        </th>
                
                    </tr>
                </thead>
                <tbody>
                    {% for competition in final_filter.qs %}
                    <tr {% if competition.ismerged == True %} class="ismerged"{% endif %}>
                        <!--
                        <td>
                            <p>{{ forloop.counter }}</p>
                        </td>
                        --!>
                        <td>
                            {% if competition.entrycount < 6 and competition.ismerged == False %}
                                <div class="colorpick red"></div>
                            {% endif %}
                            {% if competition.entrycount >= 6 and competition.ismerged == False %}
                                <div class="colorpick green"></div>
                            {% endif %}
                            {% if competition.ismerged == True %}
                                <div class="colorpick"></div>
                            {% endif %}
                        </td>
                        <td>
                            <p>{{competition.discipline}}</p>
                        </td>
                        <td>
                            <p>{{competition.fullname}}</p>
                        </td>
                        <td>
                            <p>{{competition.gender}}</p>
                        </td>
                        <td>
                            <p>{{competition.maxage}}</p>
                        </td>
                        <td>
                            <p>{{competition.entrycount}}</p>
                        </td>
                        <td>
                            <!--<p>{{competition.ismerged}}</p>--!>
                        </td>
                        <td class="hoverable">
                        </td>
                
                    </tr>
                    {% if forloop.last %}
                    <tfoot>
                        <tr>
                            <td colspan = '100%'>
                                <p>Gesamt: {{ forloop.counter }}</p>
                            </td>
                        </tr>
                    </tfoot>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

 </div>
{% endblock %}