{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>{{ text.heading }}</h2>
    </div>
    
    <div class="row wide">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>
 
 <!--
        <fieldset>
            Datenbank-Schnellnavigation
            <div class="button"><a href="{% url 'vunireg:person_add' event_id=event.pk %}">NEW</a></div>
            <div class="button"><a href="#">Previous</a></div>
            <div class="button"><a href="#">Next</a></div>
            <div class="button"><a href="{% url 'vunireg:person_list' event_id=event.pk %}">Zurück zur Übersicht</a></div>
        </fieldset>
--!>
        
    <div class="row">
        <form class="edit-form clearfix" action="" method="POST">
        {% csrf_token %}
            <fieldset class="wide">
            
                {# Include non_form_errors of form #}
                {{ team_form.non_field_errors }}
            
                {# Include hidden fields of form #}
                {% for hidden_field in team_form.hidden_fields %}
                    {{ hidden_field }}
                    {{ hidden_field.errors }}
                {% endfor %}

                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ team_form.name.id_for_label }}">Teamname</label>
                    </div>
                    <div class="form-col2" >
                        {{ team_form.name }}
                        {{ team_form.name.errors }}
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ team_form.discipline.id_for_label }}">Disziplin</label>
                    </div>
                    <div class="form-col2" >
                        {{ team_form.discipline }}
                        {{ team_form.discipline.errors }}
                    </div>
                </div>
            
                <div class="sep-line"></div>
                
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ team_form.ageforcomp.id_for_label }}">Alter für Einteilung</label>
                    </div>
                    <div class="form-col2" >
                        <input name="ageforcomp" value="{{ team.ageforcomp }}" maxlength="100" disabled="" id="id_ageforcomp" type="text">
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="">Meldezeit</label>
                    </div>
                    <div class="form-col2" >
                        <input name="value" value="" maxlength="100" disabled="" id="id_value" type="text">
                    </div>
                </div>
                
                <div class="sep-line"></div>

                <div class="row clearfix bottom pull-right">
                    <div class="form-col">
                        <input type="submit" class="btn" value="Team speichern" name="save_team">
                    </div>
                    <div class="form-col">
                        <div class="button"><a href="{% url 'vunireg:entrys_team_list' event_id=event.pk %}">Abbrechen</a></div>
                    </div>
                </div>
                
                {% if text.heading == 'Team bearbeiten' %}
                <div class="row bottom">
                    <div class="delete">
                        <a class="button" href="#popup1">Löschen</a>
                    </div>
                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h2>ACHTUNG</h2>
                            <div class="popuptext">
                                Sind Sie sicher, dass sie das Team "{{ team.name }}" löschen möchten?
                            </div>
                            <div class="clearfix">
                                <input class="popupbtn deletebtn" type="submit" value="Team löschen" name="delete_team">
                                <div class="popupbtn cancelbtn"><a href="#">Abbrechen</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </fieldset>
        </form>  
    </div>
    
    {% if team != None %}
    <div class="row">
        <form class="edit-form clearfix" action="" method="POST">
        {% csrf_token %}
            <fieldset class="wide">
                <h3>Team Mitglieder verwalten</h3>
                {% if team_entries %}
                {% for member in team_entries %}
                <div class="row {% if forloop.last %}bottom{% endif %} clearfix">
                    <div class="form-col2" >
                        <span style="margin-top: 5px; margin-bottom: 15px;">{{ member.person }}</span>
                    </div>
                    <div class="form-col2" >
                        <span style="margin-top: 5px; margin-bottom: 15px;">{{ member.person.club }}</span>
                    </div>
                    <div class="form-col" >
                        <input type="submit" class="btn" name="remove" value="### > Entfernen ###">
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row clearfix">
                    <div class="form-col2" >
                        <span style="margin-top: 5px; margin-bottom: 15px;">Keine Meldungen für diese Staffel erfasst!</span>
                    </div>
                </div>
                {% endif %}
            </fieldset>
        </form>  
    </div>
    {% endif %}
    
</div>
{% endblock %}