{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">    
        <h2>Teilnehmer verwalten</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <fieldset>
            <div class="row clearfix bottom">
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:person_add' event_id=event.pk %}">Teilnehmer anlegen</a>
                    </div>
                </div>
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:person_csv' event_id=event.pk %}">Teilnehmer per CSV importieren</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
 
    <div class="row">
        <form class="filter-form" method="get">
            <fieldset>
            <h4>Filter</h4>
            <div class="row clearfix bottom">
                <div class="filter-col">
                  {{ filter.form.forename.label_tag }}
                  {% render_field filter.form.forename__icontains placeholder='Vorname' %}
                </div>
                <div class="filter-col">
                  {{ filter.form.surname.label_tag }}
                  {% render_field filter.form.surname__icontains placeholder='Nachname' %}
                </div>
                <div class="filter-col grow">
                  {{ filter.form.gender.label_tag }}
                  {% render_field filter.form.gender %}
                </div>
                <div class="filter-col">
                  {{ filter.form.dateofbirth.label_tag }}
                  {% render_field filter.form.dateofbirth__gt placeholder='Geburtsdatum' %}
                </div>
                <div class="filter-col grow">
                  {{ filter.form.club.label_tag }}
                  {% render_field filter.form.club %}
                </div>
                <div class="filter-col grow">
                    <button type="submit">Anzeigen</button>
                </div>
            </div>
            </fieldset>
        </form>
    </div>   
    
    <div class="row">
        <div class="tableblock">
            <table class="table-list">
                <thead>
                    <tr>
                        <th width="10px">
                        </th>
                        <th class="sortable">
                            <p>Vorname</p>
                        </th>
                        <th class="sortable">
                            <p>Nachname</p>
                        </th>
                        <th class="sortable">
                            <p>M/F</p>
                        </th>
                        <th class="sortable">
                            <p>Geburtsdatum</p>
                        </th>
                        <th class="sortable">
                            <p>Staatsangeh.</p>
                        </th>
                        <th class="sortable">
                            <p>Verein</p>
                        </th>
                        <th class="sortable">
                            <p>Meldungen</p>
                        </th>
                        <th>
                            <p></p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in filter.qs %}
                    <tr>
                        <td>
                            {% if not person.forename or not person.surname or not person.gender or not person.dateofbirth or not person.club %}
                                <div class="colorpick red"></div>
                            {% endif %}
                            {% if not person.entry_set.all %}
                                <div class="colorpick"></div>
                            {% endif %}
                            {% if person.entry_set.all %}
                                <div class="colorpick yellow"></div>
                            {% endif %}
                        </td>
                        <td>
                            <p>{{person.forename}}</p>
                        </td>
                        <td>
                            <p>{{person.surname}}</p>
                        </td>
                        <td>
                            <p>{{person.gender}}</p>
                        </td>
                        <td>
                            <p>{{person.dateofbirth|date:"d.m.Y"}}</p>
                        </td>
                        <td>
                            <p>{{person.custom1}}</p>
                        </td>
                        <td>
                            <p>{{person.club}}</p>
                        </td>
                        <td>
                            <p>{{person.entry_set.count}}</p>
                        </td>
                        <td class="hoverable">
                            <a style="display:block" href="{% url 'vunireg:person_editm' person_id=person.pk event_id=event.pk %}">Edit</a>
                        </td>
                    </tr>
                    {% if forloop.last %}
                    <tfoot>
                        <tr>
                            <td colspan = '100%'>
                                <p>Gesamt: {{ forloop.counter }}</p>
                            </td>
                        </tr>
                    </tfoot>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}