{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Vereine verwalten</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <fieldset>
            <div class="row clearfix bottom">
<!--            
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:entrys_club_edit' event_id=event.pk club_id=None %}">Neuen Verein anlegen</a>
                    </div>
                </div>
--!>
<!--
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href=" url 'vunireg:import_csv' event_id=event.pk toimport='club' %}">Verein per CSV importieren</a>
                    </div>
                </div>
--!>
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:entrys_club_merge' event_id=event.pk club1_id=None club2_id=None %}">Vereine zusammenlegen</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="row">
        <div class="tableblock">
            <table class="table-list">
                <thead>
                    <tr>
                        <th width="10px">
                        </th>
                        <th class="sortable">
                            <p>Verein</p>
                        </th>
                        <th class="sortable">
                            <p>Teilnehmer</p>
                        </th>
                        <th class="sortable">
                            <p>Meldungen</p>
                        </th>
                        <th class="sortable">
                            <p>Einzelstarter</p>
                        </th>
                        <th class="sortable">
                            <p>Ansprechpartner</p>
                        </th>
                        <th>
                            <p></p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for club in club_list %}
                    <tr>
                        <td>
                            {% if club.contactperson == None %}
                                <div class="colorpick red"></div>
                            {% endif %}
                            {% if not club.contactperson == None %}
                                <div class="colorpick green"></div>
                            {% endif %}
                        </td>
                        <td>
                            <p>{{club.clubname}}</p>
                        </td>
                        <td>
                            <p>{{club.participants}}</p>
                        </td>
                        <td>
                            <p>{{club.entrys}}</p>
                        </td>
                        <td>
                            <p>{{club.individualstart}}</p>
                        </td>
                        <td>
                            <p>{{club.contactperson|default_if_none:""}}</p>
                        </td>
                        <td class="hoverable">
    <!--                        {#<a style="display:block" href="{% url 'vunireg:editm_person' person_id=entry.person.pk event_id=event.pk %}">Edit</a>#}
    --!>
                        </td>
                    </tr>
                    {% if forloop.last %}
                    <tfoot>
                        <tr>
                            <td colspan='2'>
                                <p>Gesamt: {{ forloop.counter }}</p>
                            </td>
                            <td>
                                <p>{{ count.participants }}</p>
                            </td>
                            <td>
                                <p>{{ count.entrys }}</p>
                            </td>
                            <td colspan='100%'>
                                <p></p>
                            </td>
                        </tr>
                    </tfoot>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<!--        
        <table class="table-list">
            <thead>
                <tr>
                    <th class="hoverable">
                        <p><a style="display:block" href="{% url 'vunireg:person_csv' event_id=event.pk %}">Vereine per CSV importieren</a></p>
                    </th>
                </tr>
            </thead>
        </table>
--!>
 </div>
{% endblock %}