{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>{{ text.heading }}</h2>
    </div>
    
    <div class="row wide">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>
 
 <!--
        <fieldset>
            Datenbank-Schnellnavigation
            <div class="button"><a href="{% url 'vunireg:person_add' event_id=event.pk %}">NEW</a></div>
            <div class="button"><a href="#">Previous</a></div>
            <div class="button"><a href="#">Next</a></div>
            <div class="button"><a href="{% url 'vunireg:person_list' event_id=event.pk %}">Zurück zur Übersicht</a></div>
        </fieldset>
--!>
        
    <div class="row">
        <form class="edit-form clearfix" action="" method="POST">
        {% csrf_token %}
            <fieldset class="wide">
            
                {# Include non_form_errors of form #}
                {{ club_form.non_field_errors }}
            
                {# Include hidden fields of form #}
                {% for hidden_field in club_form.hidden_fields %}
                    {{ hidden_field }}
                    {{ hidden_field.errors }}
                {% endfor %}

                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.forename.id_for_label }}">Vereinsname</label>
                    </div>
                    <div class="form-col2" >
                        {{ club_form.clubname }}
                        {{ club_form.clubname.errors }}
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.surname.id_for_label }}">Einzelstarter</label>
                    </div>
                    <div class="form-col2" >
                        {{ club_form.individualstart }}
                        {{ club_form.individualstart.errors }}
                    </div>
                </div>
                
                <div class="sep-line"></div>
                
                <div class="row clearfix">
                    <div class="form-col">
                        <h3>Details Ansprechpartner</h3>
                    </div>
                </div>
                
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.surname.id_for_label }}">Kontaktperson</label>
                    </div>
                    <div class="form-col2" >
                        {{ club_form.contactperson }}
                        {{ club_form.contactperson.errors }}
                    </div>
                </div>
            
                <div class="sep-line"></div>

                <div class="row clearfix bottom pull-right">
                    <div class="form-col">
                        <button class="button" type="submit" value="save_club">Verein speichern</button>
                    </div>
                    <div class="form-col">
                        <div class="button"><a href="{% url 'vunireg:club_list' event_id=event.pk %}">Abbrechen</a></div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="delete">
                        <a class="button" href="#popup1">Löschen</a>
                    </div>
                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h2>ACHTUNG</h2>
                            <div class="popuptext">
                                Sind Sie sicher, dass sie den Verein "{{ club_form.clubname }}" löschen möchten?
                            </div>
                            <div class="clearfix">
                                <div class="popupbtn deletebtn"><a href="">Verein löschen</a></div>
                                <div class="popupbtn cancelbtn"><a href="#">Abbrechen</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>  
    </div>
    
</div>
{% endblock %}