{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Übersicht Meldungen</h2>
    </div>
    
    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <fieldset>
            <div class="row clearfix bottom">
                <div class="form-col">
                    <div class="button">
                        <a style="display:block" href="{% url 'vunireg:person_csv' event_id=event.pk %}">Meldungen per CSV importieren</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="row">
        <form class="filter-form" method="get">
            <fieldset>
            <h4>Filter</h4>
            <div class="row clearfix bottom">
                <div class="filter-col">
                  {{ filter.form.discipline.label_tag }}
                  {% render_field filter.form.discipline placeholder='Disziplin' %}
                </div>
                <div class="filter-col">
                  {{ filter.form.competition.label_tag }}
                  {% render_field filter.form.competition placeholder='Wettbewerb' %}
                </div>
                <div class="filter-col">
                  {{ filter.form.forename.label_tag }}
                  {% render_field filter.form.forename placeholder='Vorname' %}
                </div>
                <div class="filter-col">
                  {{ filter.form.surname.label_tag }}
                  {% render_field filter.form.surname placeholder='Nachname' %}
                </div>
                <div class="filter-col">
                  {{ filter.form.gender.label_tag }}
                  {% render_field filter.form.gender placeholder='Geschlecht' %}
                </div>
                <div class="filter-col">
                  {{ filter.form.club.label_tag }}
                  {% render_field filter.form.club placeholder='Verein' %}
                </div>
                <div class="filter-col grow">
                    <button type="submit">Anzeigen</button>
                </div>
            </div>
            </fieldset>
        </form>
    </div>

    <div class="row">
        <div class="tableblock">
            <table class="table-list">
                <thead>
                    <tr>
                        <th wide="10px">
                        </th>
                        <th class="sortable">
                            <p>Verein</p>
                        </th>
                        <th class="sortable">
                            <p>Vorname</p>
                        </th>
                        <th class="sortable">
                            <p>Nachname</p>
                        </th>
                        <th class="sortable">
                            <p>Disziplin</p>
                        </th>
                        <th class="sortable">
                            <p>Wettbewerb</p>
                        </th>
                        <th class="sortable">
                            <p>Meldezeit</p>
                        </th>
                        <th>
                            <p></p>
                        </th>
                        <th>
                            <p></p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in filter.qs %}
                    <tr>
                        <td>
                            {% if not entry.competition %}
                                <div class="colorpick red"></div>
                            {% endif %}
                            {% if entry.competition and not entry.start_set.all %}
                                <div class="colorpick yellow"></div>
                            {% endif %}
                            {% if entry.competition and entry.start_set.all %}
                                <div class="colorpick green"></div>
                            {% endif %}
                        </td>
                        <td>
                            <p>{{entry.person.club}}</p>
                        </td>
                        <td>
                            <p>{{entry.person.forename}}</p>
                        </td>
                        <td>
                            <p>{{entry.person.surname}}</p>
                        </td>
                        <td>
                            <p>{{entry.discipline}}</p>
                        </td>
                        <td>
                            <p>{{entry.competition.fullname}}</p>
                        </td>
                        <td>
                            <p>{{entry.value|default_if_none:""}}</p>
                        </td>
                        <td>
                            <p></p>
                        </td>
                        <th class="hoverable">
                            {% if entry.person %}
                            <a style="display:block" href="{% url 'vunireg:person_editm' person_id=entry.person.pk event_id=event.pk%}">Edit</a>
                            {% else %}
<!--                    ### TODO ###
                        # Link zum Bearbeiten von Staffel Meldungen einfügen
                        ### ENDTODO ###                                         --!>
                            {% endif %}
                        </th>
                    </tr>
                    {% if forloop.last %}
                    <tfoot>
                        <tr>
                            <td colspan = '100%'>
                                <p>Gesamt: {{ forloop.counter }}</p>
                            </td>
                        </tr>
                    </tfoot>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

 </div>
{% endblock %}