{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Teilnehmer bearbeiten</h2>
    </div>
 
 <!--
        <fieldset>
            Datenbank-Schnellnavigation
            <div class="button"><a href="{% url 'vunireg:person_add' event_id=event.pk %}">NEW</a></div>
            <div class="button"><a href="#">Previous</a></div>
            <div class="button"><a href="#">Next</a></div>
            <div class="button"><a href="{% url 'vunireg:person_list' event_id=event.pk %}">Zurück zur Übersicht</a></div>
        </fieldset>
--!>
        
    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response }}</p>
        </div>
        {% endif %}
    </div>
        
    <div class="row">
        <form class="edit-form clearfix" action="" method="POST">
        {% csrf_token %}
            <fieldset class="wide">
            
                {# Include non_form_errors of form #}
                {{ pform.non_field_errors }}
            
                {# Include hidden fields of form #}
                {% for hidden_field in pform.hidden_fields %}
                    {{ hidden_field }}
                    {{ hidden_field.errors }}
                {% endfor %}

                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.forename.id_for_label }}">Vorname</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.forename }}
                        {{ pform.forename.errors }}
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.surname.id_for_label }}">Nachname</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.surname }}
                        {{ pform.surname.errors }}
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.gender.id_for_label }}">Geschlecht</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.gender }}
                        {{ pform.gender.errors }}
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.dateofbirth.id_for_label }}">Geburtsdatum</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.dateofbirth }}
                        {{ pform.dateofbirth.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-col indent">
                        <label class="visible" for="{{ pform.otheragegroup.id_for_label }}">Abweichender Start in U13</label>
                    </div>
                    <div class="form-checkbox" >
                        {{ pform.otheragegroup }}
                        {{ pform.otheragegroup.errors }}
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.custom1.id_for_label }}">Staatsangehörigkeit</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.custom1 }}
                        {{ pform.custom1.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.club.id_for_label }}">Verein</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.club }}
                        {{ pform.club.errors }}
                    </div>
                </div>
                


<!--
                <div class="form-group">
                        <label>Straße u. Hausnummer</label>
                        <input class="form-control"  ng-class="{ 'is-invalid': regForm.adresse.$invalid && regForm.adresse.$dirty}" name="adresse" ng-model="reg.booking.adresse" type="text" required>
                </div>
                <div class="form-group">
                    <label>PLZ</label>
                    <input class="form-control" ng-class="{ 'is-invalid': regForm.plz.$invalid && regForm.plz.$dirty}" name="plz" ng-model="reg.booking.plz" type="text" required>
                </div>
                <div class="form-group">
                    <label>Wohnort</label>
                    <input class="form-control" ng-class="{ 'is-invalid': regForm.ort.$invalid && regForm.ort.$dirty }" name="ort" ng-model="reg.booking.ort" type="text" required>
                </div>

                <div class="form-group">
                    <label>Telefon</label>
                    <input class="form-control"  ng-class="{ 'is-invalid': regForm.telefon.$invalid && regForm.telefon.$dirty}" name="telefon" ng-model="reg.booking.telefon" type="tel" required>
                </div>
                <div class="form-group">
                    <label>E-Mail-Adresse</label>
                    <input class="form-control" ng-class="{ 'is-invalid': regForm.email.$invalid && regForm.email.$dirty }" name="email" ng-model="reg.booking.email" type="email" required>
                </div>
--!>

                <div class="sep-line"></div>
            
                <details open>
                    <summary><h3>Meldungen</h3></summary>
                
                    {# Include management of formset #}
                    {{ mform.management_form }} 
                
                    {# Include non_form_errors of formset #}
                    {{ mform.non_form_errors }}

                    {# Include hidden fields of formset #}
                    {% for hidden_field in mform.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                
                    {# Include every form of formset #}
                    {% for form in mform.forms %}
                    <div class="row clearfix">
                    {# Include hidden fields of each form #}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    </div>
                    {# Include visible fields of each form #}
                    <div class="row clearfix">
                        {{ form.non_field_errors }}
                    </div>
                    <div class="row clearfix">
                        <div class="form-col2">
                            {{ form.discipline }}
                            {{ form.discipline.errors }}
                        </div>
                        <div class="form-col2" >
                            {{ form.value }}
                            {{ form.value.errors }}
                        </div>
                        <div class="form-checkbox" >
                            {{ form.DELETE }}
                        </div>
                    </div>
                    {% endfor %}
                
                </details>
            
                <div class="sep-line"></div>
            
                <div class="row clearfix bottom pull-right">
                    <div class="form-col">
                        <button class="button" type="submit" value="Teilnehmer speichern">Teilnehmer speichern</button>
                    </div>
                    <div class="form-col">
                        <div class="button"><a href="{% url 'vunireg:person_list' event_id=event.pk %}">Abbrechen</a></div>
                    </div>
                </div>

            </fieldset>
        </form>  
    </div>
    
</div>
{% endblock %}