{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Übersicht Meldungen</h2>
    </div>

    <div class="row wide">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>
     
    <div class="row">
        <h3>Meldungen Importieren</h3>
        <fieldset class="wide">
            <div class="row clearfix bottom">
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:person_csv' event_id=event.pk %}">Meldungen per CSV importieren</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="row">
        <h3>Zusammenfassung</h3>
        <fieldset class="wide">
            
            <div class="row clearfix">
                <div class="col1" style="margin: auto; text-align:center;">
                    {% if entrys.total > 0 %}
                    <h3>Meldungen</h3>
                    <table class="fieldset-list">
                        <thead>
                            <tr>
                                <th style="width:50px;">
                                </th>
                                <th style="width:80px; text-align:center">
                                    Einzelstarts
                                </th>
                                <th style="width:80px; text-align:center">
                                    Staffeln
                                </th>
                                <th style="width:80px; text-align:center">
                                    Gesamt
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ entrys.single }}
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ entrys.relay }}
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ entrys.total }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% else %}
                    <h3>Es gibt für diesen Wettkampf noch keine Meldungen!</h3>
                    {% endif %}
                </div>
            </div>

            <div class="sep-line"></div>

            <div class="row clearfix">
                <div class="col1" style="margin: auto; text-align:center;">
                    {% if participans.total > 0 %}
                    <h3>Teilnehmer</h3>
                    <table class="fieldset-list">
                        <thead>
                            <tr>
                                <th style="width:50px;">
                                </th>
                                <th style="width:80px; text-align:center">
                                    Männlich
                                </th>
                                <th style="width:80px; text-align:center">
                                    Weiblich
                                </th>
                                <th style="width:80px; text-align:center">
                                    Gesamt
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    U15
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ participans.U15male }}
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ participans.U15female }}
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ participans.U15total }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    15+
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ participans.15UPmale }}
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ participans.15UPfemale }}
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ participans.15UPtotal }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Gesamt
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ participans.male }}
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ participans.female }}
                                </td>
                                <td style="width:80px; text-align:center">
                                    {{ participans.total }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% else %}
                    <h3>Es gibt für diesen Wettkampf noch keine Teilnehmer!</h3>
                    {% endif %}  
                </div>
            </div>
            
            <div class="sep-line"></div>
            
            <div class="row clearfix bottom">
                <div class="col1" style="margin: auto; text-align:center;">
                    {% if clubs.total > 0 %}
                    <h3>Vereine</h3>
                    <table class="fieldset-list">
                        <thead>
                            <tr>
                                <th style="width:80px;">
                                    
                                </th>
                                <th style="width:50px; text-align:center">
                                    Gesamt
                                </th>
                                <td style="width:80px; text-align:center">
                                    {{ clubs.total }}
                                </td>
                                <td style="width:80px; text-align:center">
                                    
                                </td>
                            </tr>
                        </thead>
                    </table>
                    {% else %}
                    <h3>Es gibt für diesen Wettkampf noch keine Vereine!</h3>
                    {% endif %}  
                </div>
            </div>

        </fieldset>
    </div>
    
    <div class="row">
        <h3>Teilnehmer, Teams und Vereine verwalten</h3>
        <fieldset class="wide">
            <div class="row bottom">
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:person_list' event_id=event.pk %}">Teilnehmer verwalten</a>
                    </div>
                </div>
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:entrys_team_list' event_id=event.pk %}">Staffeln verwalten</a>
                    </div>
                </div>
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:club_list' event_id=event.pk %}">Vereine verwalten</a>
                    </div>
                </div>
            </div>  
        </fieldset>
    </div>
    
    <div class="row">
        <h3>Übersicht Meldungen</h3>
        <fieldset class="wide">
            <div class="row bottom">
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:entrys_entry_list' event_id=event.pk %}">Übersicht Meldungen</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="row space"></div>
    
</div>
{% endblock %}