{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Teilnehmer anlegen</h2>
    </div>
             
    <div class="row">
        <form class="edit-form clearfix" action="" method="POST">
        {% csrf_token %}
            <fieldset class="wide">

            {{ pform.non_field_errors }}

            {% for hidden_field in pform.hidden_fields %}
                {{ hidden_field }}
                {{ hidden_field.errors }}
            {% endfor %}

                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.forename.id_for_label }}">Vorname</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.forename }}
                        {{ pform.forename.errors }}
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.surname.id_for_label }}">Nachname</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.surname }}
                        {{ pform.surname.errors }}
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.gender.id_for_label }}">Geschlecht</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.gender }}
                        {{ pform.gender.errors }}
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.dateofbirth.id_for_label }}">Geburtsdatum</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.dateofbirth }}
                        {{ pform.dateofbirth.errors }}
                        <!--
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-dark" ng-click="reg.datePopup = true"><i class="fa fa-calendar"></i></button>
                        </span>   
                        --!>
                    </div>
                </div>
                <div class="row">
                    <div class="form-col indent">
                        <label class="visible" for="{{ pform.otheragegroup.id_for_label }}">Abweichender Start in U13</label>
                    </div>
                    <div class="form-checkbox" >
                        {{ pform.otheragegroup }}
                        {{ pform.otheragegroup.errors }}
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.custom1.id_for_label }}">Staatsangehörigkeit</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.custom1 }}
                        {{ pform.custom1.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-col1">
                        <label class="visible" for="{{ pform.club.id_for_label }}">Verein</label>
                    </div>
                    <div class="form-col2" >
                        {{ pform.club }}
                        {{ pform.club.errors }}
                    </div>
                </div>
                


<!--
                <div class="form-group">
                        <label>Straße u. Hausnummer</label>
                        <input class="form-control"  ng-class="{ 'is-invalid': regForm.adresse.$invalid && regForm.adresse.$dirty}" name="adresse" ng-model="reg.booking.adresse" type="text" required>
                </div>
                <div class="form-group">
                    <label>PLZ</label>
                    <input class="form-control" ng-class="{ 'is-invalid': regForm.plz.$invalid && regForm.plz.$dirty}" name="plz" ng-model="reg.booking.plz" type="text" required>
                </div>
                <div class="form-group">
                    <label>Wohnort</label>
                    <input class="form-control" ng-class="{ 'is-invalid': regForm.ort.$invalid && regForm.ort.$dirty }" name="ort" ng-model="reg.booking.ort" type="text" required>
                </div>

                <div class="form-group">
                    <label>Telefon</label>
                    <input class="form-control"  ng-class="{ 'is-invalid': regForm.telefon.$invalid && regForm.telefon.$dirty}" name="telefon" ng-model="reg.booking.telefon" type="tel" required>
                </div>
                <div class="form-group">
                    <label>E-Mail-Adresse</label>
                    <input class="form-control" ng-class="{ 'is-invalid': regForm.email.$invalid && regForm.email.$dirty }" name="email" ng-model="reg.booking.email" type="email" required>
                </div>
--!>        
                <div class="sep-line"></div>
            
                <div class="row clearfix bottom pull-right">
                    <div class="form-col">
                        <button class="button" type="submit" value="Teilnehmer speichern">Teilnehmer speichern</button>
                    </div>
                    <div class="form-col">
                        <div class="button"><a href="{% url 'vunireg:person_list' event_id=event.pk %}">Abbrechen</a></div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    
</div>
{% endblock %}