{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Vereine zusammenlegen</h2>
    </div>
        
    <div class="row wide">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>
        
    <div class="row">
        <form class="edit-form clearfix" action="" method="POST">
        {% csrf_token %}
            <fieldset class="wide">

                    <div class="row clearfix">
                        <div class="form-col">
                            <h3>Verein 1: Verein bleibt bestehen</h3>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="form-col grow">
                            <select name="club1" id="club1">
                                <option disabled selected value style="display:none"> -- Verein wählen -- </option>
                                {% for club in club_list %}
                                <option value="{{ club.pk }}" {% if club.pk == club1_id|add:"0" %}selected{% endif %}>{{ club }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-col">
                        <input type="submit" class="btn" value="Verein auswählen" name="change_club1">
                        </div>
                    </div>
                    {% if merge_to_club_persons %}
                    <div class="row">
                        <div class="inlinetableblock">
                            <table class="table-list" style="line-height:1.3em; margin-bottom: 0px;">
                                <thead>
                                    <tr>
                                        <th width="10px">
                                        </th>
                                        <th class="sortable">
                                            <p>Vorname</p>
                                        </th>
                                        <th class="sortable">
                                            <p>Nachname</p>
                                        </th>
                                        <th class="sortable">
                                            <p>M/F</p>
                                        </th>
                                        <th class="sortable">
                                            <p>Geburtsdatum</p>
                                        </th>
                                        <th class="sortable">
                                            <p>Staatsangeh.</p>
                                        </th>
                                        <th class="sortable">
                                            <p>Meldungen</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for person in merge_to_club_persons %}
                                    <tr>
                                        <td>
                                            {% if not person.forename or not person.surname or not person.gender or not person.dateofbirth or not person.club %}
                                                <div class="colorpick red"></div>
                                            {% endif %}
                                            {% if not person.entry_set.all %}
                                                <div class="colorpick"></div>
                                            {% endif %}
                                            {% if person.entry_set.all %}
                                                <div class="colorpick yellow"></div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <p>{{person.forename}}</p>
                                        </td>
                                        <td>
                                            <p>{{person.surname}}</p>
                                        </td>
                                        <td>
                                            <p>{{person.gender}}</p>
                                        </td>
                                        <td>
                                            <p>{{person.dateofbirth|date:"d.m.Y"}}</p>
                                        </td>
                                        <td>
                                            <p>{{person.custom1}}</p>
                                        </td>
                                        <td>
                                            <p>{{person.entry_set.count}}</p>
                                        </td>
                                    </tr>
                                    {% if forloop.last %}
                                    <tfoot>
                                        <tr>
                                            <td colspan = '100%'>
                                                <p>Gesamt: {{ forloop.counter }}</p>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="sep-line"></div>
                    
                    <div class="row clearfix">
                        <div class="form-col">
                            <h3>Verein 2: Verein wird gelöscht</h3>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="form-col grow">
                            <select name="club2" id="club2">
                                <option disabled selected value style="display:none"> -- Verein wählen -- </option>
                                {% for club in club_list %}
                                <option value="{{ club.pk }}" {% if club.pk == club2_id|add:"0" %}selected{% endif %}>{{ club }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-col">
                        <input type="submit" class="btn" value="Verein auswählen" name="change_club2">
                        </div>
                    </div>
                    {% if club_to_merge_persons %}
                    <div class="row">
                        <div class="inlinetableblock">
                            <table class="table-list" style="line-height:1.3em; margin-bottom: 0px;">
                                <thead>
                                    <tr>
                                        <th width="10px">
                                        </th>
                                        <th class="sortable">
                                            <p>Vorname</p>
                                        </th>
                                        <th class="sortable">
                                            <p>Nachname</p>
                                        </th>
                                        <th class="sortable">
                                            <p>M/F</p>
                                        </th>
                                        <th class="sortable">
                                            <p>Geburtsdatum</p>
                                        </th>
                                        <th class="sortable">
                                            <p>Staatsangeh.</p>
                                        </th>
                                        <th class="sortable">
                                            <p>Meldungen</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for person in club_to_merge_persons %}
                                    <tr>
                                        <td>
                                            {% if not person.forename or not person.surname or not person.gender or not person.dateofbirth or not person.club %}
                                                <div class="colorpick red"></div>
                                            {% endif %}
                                            {% if not person.entry_set.all %}
                                                <div class="colorpick"></div>
                                            {% endif %}
                                            {% if person.entry_set.all %}
                                                <div class="colorpick yellow"></div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <p>{{person.forename}}</p>
                                        </td>
                                        <td>
                                            <p>{{person.surname}}</p>
                                        </td>
                                        <td>
                                            <p>{{person.gender}}</p>
                                        </td>
                                        <td>
                                            <p>{{person.dateofbirth|date:"d.m.Y"}}</p>
                                        </td>
                                        <td>
                                            <p>{{person.custom1}}</p>
                                        </td>
                                        <td>
                                            <p>{{person.entry_set.count}}</p>
                                        </td>
                                    </tr>
                                    {% if forloop.last %}
                                    <tfoot>
                                        <tr>
                                            <td colspan = '100%'>
                                                <p>Gesamt: {{ forloop.counter }}</p>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="sep-line"></div>
                    
                    <div class="row clearfix bottom">
                        <div class="form-col grow">
                            <input type="submit" class="btn" value="Vereine zusammenlegen" name="merge_clubs">
                        </div>
                    </div>

            </fieldset>
        </form>  
    </div>
    
</div>
{% endblock %}