{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Staffeln verwalten</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <fieldset>
            <div class="row clearfix bottom">
                <form method="get">
                    <div class="form-col">
<!--                ### TODO ###
                    # Staffeln anhand der Meldungen automatisch anlegen
                    # Einige Anpassungen sind in der entsprechenden Funktion beschrieben
                    ### ENDTODO ###                             --!>   
                        <input type="submit" class="button fixed-width" value="Staffeln aus Meldungen" name="update_teams">
                    </div>
                </form>
                <div class="form-col">
                    <div class="button fixed-width">
<!--                ### TODO ###
                    # Staffeln anlegen
                    ### ENDTODO ###                             --!>
                        <a style="display:block" href="{% url 'vunireg:entrys_team_edit' event_id=event.pk team_id=None%}">Staffel anlegen</a>
                    </div>
                </div>
                <div class="form-col">
                    <div class="button fixed-width">
<!--                ### TODO ###
                    # Staffel Import per CSV
                    ### ENDTODO ###                             --!>
                        <a style="display:block" href="">### Staffeln per CSV importieren ###</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="row">
        {% if team_list %}
        <div class="tableblock">
            <table class="table-list">
                <thead>
                    <tr>
                        <th width="10px">
                        </th>
                        <th class="sortable" width="100px">
                            <p>Disziplin</p>
                        </th>
                        <th class="sortable">
                            <p>Team</p>
                        </th>
                        <th class="sortable">
                            <p>Meldezeit</p>
                        </th>
                        <th class="sortable">
                            <p>Teilnehmer</p>
                        </th>
                        <th width="50px">
                            <p></p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in team_list %}
                    <tr>
                        <td>
                            {% if team.members != 4 %}
                                <div class="colorpick red"></div>
                            {% endif %}
                            {% if team.members == 4 %}
                                <div class="colorpick green"></div>
                            {% endif %}
                        </td>
                        <td>
                            <p>{{team.discipline}}</p>
                        </td>
                        <td>
                            <p>{{team.name}}</p>
                        </td>
                        <td>
                            <p>{{team.value}}</p>
                        </td>
                        <td>
                            <p>{{team.members}}</p>
                        </td>
                        <td class="hoverable">
                            <p><a style="display:block" href="{% url 'vunireg:entrys_team_edit' event_id=event.pk team_id=team.pk%}">Edit</a></p>
                        </td>
                    </tr>
                    {% if forloop.last %}
                    <tfoot>
                        <tr>
                            <td colspan='2'>
                                <p>Gesamt: {{ forloop.counter }}</p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td colspan='100%'>
                                <p></p>
                            </td>
                        </tr>
                    </tfoot>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
<!--        
        <table class="table-list">
            <thead>
                <tr>
                    <th class="hoverable">
                        <p><a style="display:block" href=" url 'vunireg:person_csv' event_id=event.pk %}">Vereine per CSV importieren</a></p>
                    </th>
                </tr>
            </thead>
        </table>
--!>
</div>
{% endblock %}