{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row wide">
        <h2>Mindestqualifikationen bearbeiten</h2>
    </div>
        
    <div class="row wide">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response }}</p>
        </div>
        {% endif %}
    </div>
    
    <div class="row wide">
        <fieldset class="">
            <div class="row clearfix">
                <div class="form-col">
                    <h3>Mindestqualifikationen</h3>
                </div>
            </div>
            
            <div class="row clearfix">
            {% if qualification_table %}
                <table class="inform">
                    {% for row in qualification_table %}
                    {% if forloop.first %}
                    <thead>
                        <tr>
                            {% for column in row %}
                            <th>
                                {{ column }}
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% else %}
                        <tr class="border">
                        {% for column in row %}
                            <td>
                                {{ column }}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="form-col">
                    <h3>Es gibt für diesen Wettkampf keine Mindestqualifikationen!</h3>
                </div>
                {% endif %}
            </div>

        </fieldset>
    </div>

    <div class="row">
        <form class="clearfix" action="" method="POST">
        {% csrf_token %}
        <fieldset class="wide">
        
            <div class="row clearfix">
                <div class="form-col">
                    <h3>Mindestqualifikationen hinzufügen</h3>
                </div>
            </div>
        
                {# Include non_field_errors #}
                {{ form.non_field_errors }}

                {# Include hidden fields #}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                    {{ hidden_field.errors }}
                {% endfor %}
        
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.discipline.id_for_label }}">{{ form.discipline.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.discipline }}
                    {{ form.discipline.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.minage.id_for_label }}">{{ form.minage.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.minage }}
                    {{ form.minage.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.maxage.id_for_label }}">{{ form.maxage.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.maxage }}
                    {{ form.maxage.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.value.id_for_label }}">{{ form.value.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.value }}
                    {{ form.value.errors }}
                </div>
            </div>

            <div class="sep-line"></div>

            <div class="row clearfix bottom pull-right">
                <div class="form-col">
                    <button class="button" type="submit" value="Save Scoringcat">Daten speichern</button>
                </div>
                <div class="form-col">
                    <div class="button"><a href="{% url 'vunireg:event' event_id=event.pk %}">Abbrechen</a></div>
                </div>
            </div>

            </fieldset>
        </form>     
    </div>
    
</div>
{% endblock %}