{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row wide">
        <h2>Wertungskategorien bearbeiten</h2>
    </div>
        
    <div class="row wide">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response }}</p>
        </div>
        {% endif %}
    </div>
    
    <div class="row wide">
        <fieldset class="">
            <div class="row clearfix">
                <div class="form-col">
                    <h3>Vorhandene Wertungskategorien</h3>
                </div>
            </div>
            
            <div class="row clearfix">
            {% if scoringcat_list %}
                <div class="form-col1">
                    <h3>Wertung</h3>
                </div>
                <div class="form-col2">
                    <h3>Beschreibung</h3>
                </div>
            </div>
            <div class="sep-line"></div>
            {% for scoringcat in scoringcat_list %}
            <div class="row clearfix">
                <div class="form-col1">
                    {{ scoringcat }}
                </div>
                <div class="form-col2">
                    {{ scoringcat.description }}
                </div>
                <div class="form-col">
                        <label class="togglebutton" for="{{ scoringcat }}">Details</label>
                </div>
            </div>
            
            <input type="checkbox" class="toggleinput" id="{{ scoringcat }}" class="visually-hidden">
            <div class="toggelcontent">
                <div class="row">
                    <div class="form-col">
                        <h4>Details zur Wertungskategorie {{ scoringcat }}</h4>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible" for="type">Typ</label>
                    </div>
                    <div class="form-col2">
                        <input type="text" id="type" name="type" value="{{ scoringcat.get_type_display }}" disabled>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible">Filter 1</label>
                    </div>
                    <div class="form-col2">
                        <span style="width:110px; padding-right: 10px;"><label class="visible" for="filtertype1">Filtertyp 1</label></span>
                        <input type="text" id="filtertype1" name="filtertype1" value="{{ scoringcat.filtertype1 }}" disabled>
                    </div>
                    <div class="form-col2">
                        <span style="width:110px; padding-right: 10px;"><label class="visible" for="filtervalue1">Filterwert 1</label></span>
                        <input type="text" id="filtervalue1" name="filtervalue1" value="{{ scoringcat.filtervalue1 }}" disabled>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible">Filter 2</label>
                    </div>
                    <div class="form-col2">
                        <span style="width:110px; padding-right: 10px;"><label class="visible" for="filtertype2">Filtertyp 2</label></span>
                        <input type="text" id="filtertype2" name="filtertype2" value="{{ scoringcat.filtertype2 }}" disabled>
                    </div>
                    <div class="form-col2">
                        <span style="width:110px; padding-right: 10px;"><label class="visible" for="filtervalue2">Filterwert 2</label></span>
                        <input type="text" id="filtervalue2" name="filtervalue2" value="{{ scoringcat.filtervalue2 }}" disabled>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col1">
                        <label class="visible">Alter</label>
                    </div>
                    <div class="form-col2">
                        <span style="width:110px; padding-right: 10px;"><label class="visible" for="minage">Von</label></span>
                        <input type="text" id="minage" name="minage" value="{{ scoringcat.minage }}" disabled>
                    </div>
                    <div class="form-col2">
                        <span style="width:110px; padding-right: 10px;"><label class="visible" for="maxage">Bis</label></span>
                        <input type="text" id="maxage" name="maxage" value="{{ scoringcat.maxage }}" disabled>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col2">
                        <label class="visible" for="showexternal">Ergebnisliste mit Fahrern außer Konkurenz</label>
                    </div>
                    <div class="form-col2">
                        <input type="text" id="showexternal" name="showexternal" value="{{ scoringcat.showexternal }}" disabled>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col2">
                        <label class="visible" for="usequali">Mindestqualifikation anwenden</label>
                    </div>
                    <div class="form-col2">
                        <input type="text" id="usequali" name="usequali" value="{{ scoringcat.usequali }}" disabled>
                    </div>
                </div>
                <div class="sep-line"></div>
                <div class="row clearfix pull-right">
                    <div class="form-col">
                        <div class="button"><a href="{% url 'vunireg:event_edit_scoringcat' event_id=event.pk scoringcat_id=scoringcat.pk %}">Bearbeiten</a></div>
                    </div>
                </div>
                <div class="sep-line clearfix"></div>
            </div>
            {% endfor %}
            {% else %}
                <h3>Es gibt für diesen Wettkampf keine Wertungen!</h3>
            </div>
            {% endif %}

        </fieldset>
    </div>

    <div class="row">
        <form class="clearfix" action="" method="POST">
        {% csrf_token %}
        <fieldset class="wide">
        
            <div class="row clearfix">
                <div class="form-col">
                    <h3>Wertungskategorie {% if scoringcat_id == 'None' %}hinzufügen{% else %}bearbeiten{% endif %}</h3>
                </div>
            </div>
        
                {# Include non_field_errors #}
                {{ form.non_field_errors }}

                {# Include hidden fields #}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                    {{ hidden_field.errors }}
                {% endfor %}
        
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.fullname.id_for_label }}">{{ form.fullname.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.fullname }}
                    {{ form.fullname.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.type }}
                    {{ form.type.errors }}
                </div>
            </div>
            <div class="sep-line"></div>
            <div class="row clearfix">
                <div class="form-col">
                    <h3>Filter</h3>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.filtertype1.id_for_label }}">{{ form.filtertype1.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.filtertype1 }}
                    {{ form.filtertype1.errors }}
                </div>
                <div class="form-col">
                    <label class="visible" for="{{ form.filtervalue1.id_for_label }}">{{ form.filtervalue1.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.filtervalue1 }}
                    {{ form.filtervalue1.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.filtertype2.id_for_label }}">{{ form.filtertype2.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.filtertype2 }}
                    {{ form.filtertype2.errors }}
                </div>
                <div class="form-col">
                    <label class="visible" for="{{ form.filtervalue2.id_for_label }}">{{ form.filtervalue2.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.filtervalue2 }}
                    {{ form.filtervalue2.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible">Alter</label>
                </div>
                <div class="form-col2">
                    <span style="width:110px; padding-right: 10px;"><label class="visible" for="{{ form.minage.id_for_label }}">{{ form.minage.label }}</label></span>
                    {{ form.minage }}
                    {{ form.minage.errors }}
                </div>
                <div class="form-col2">
                    <span style="width:110px; padding-right: 10px;"><label class="visible" for="{{ form.maxage.id_for_label }}">{{ form.maxage.label }}</label></span>
                    {{ form.maxage }}
                    {{ form.maxage.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col">
                    <label class="visible" for="{{ form.showexternal.id_for_label }}">{{ form.showexternal.label }}</label>
                </div>
                <div class="form-checkbox">
                    {{ form.showexternal }}
                    {{ form.showexternal.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col">
                    <label class="visible" for="{{ form.usequali.id_for_label }}">{{ form.usequali.label }}</label>
                </div>
                <div class="form-checkbox">
                    {{ form.usequali }}
                    {{ form.usequali.errors }}
                </div>
            </div>
            
            <div class="sep-line"></div>

            <div class="row clearfix bottom pull-right">
                <div class="form-col">
                    <button class="button" type="submit" value="Save Scoringcat">Daten speichern</button>
                </div>
                <div class="form-col">
                    <div class="button"><a href="{% url 'vunireg:event' event_id=event.pk %}">Abbrechen</a></div>
                </div>
            </div>

            </fieldset>
        </form>     
    </div>
    
</div>
{% endblock %}