{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Übersicht Wettkampf</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>
    
    <div class="row">
        <h3>Wettkampfdaten</h3>
        <fieldset class="wide">
            <div class="row clearfix">
                <div class="form-col">
                    <h3>Wettkampf Basisdaten</h3>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="name">Name</label>
                </div>
                <div class="form-col2">
                    <input type="text" id="name" name="name" value="{{ event.name }}" disabled>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible">Datum</label>
                </div>
                <div class="form-col2">
                    <span style="width:35px; padding-right: 10px;"><label class="visible" for="start">Von</label></span>
                    <input type="text" id="start" name="start" value="{{ event.startdate|date:"d.m.Y" }}" disabled>
                </div>
                <div class="form-col2">
                    <span style="width:35px; padding-right: 10px;"><label class="visible" for="end">Bis</label></span>
                    <input type="text" id="end" name="end" value="{{ event.enddate|date:"d.m.Y" }}" disabled>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="description">Beschreibung</label>
                </div>
                <div class="form-col2">
                    <textarea id="description" name="description" disabled>{{ event.description }}</textarea>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="type">Wettkampftyp</label>
                </div>
                <div class="form-col2">
                    <input type="text" id="type" name="type" value="{{ event.get_group_display }}" disabled>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="location">Veranstaltungsort</label>
                </div>
                <div class="form-col2">
                    <input type="text" id="location" name="location" value="{{ event.location }}" disabled>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible">Bahnen</label>
                </div>
                <div class="form-col">
                    <span style="width:90px; padding-right: 10px;"><label class="visible" for="lanesstr">Sprintbahnen</label></span>
                    <input style="width: 30px;" type="text" id="lanesstr" name="lanesstr" value="{{ event.lanesstr }}" disabled>
                </div>
                <div class="form-col">
                    <span style="width:90px; padding-right: 10px;"><label class="visible" for="lanesrnd">Rundbahnen</label></span>
                    <input style="width: 30px;" type="text" id="lanesrnd" name="lanesrnd" value="{{ event.lanesrnd }}" disabled>
                </div>
            </div>
            
            <div class="sep-line"></div>
            
            <div class="row clearfix">
                <div class="form-col">
                    <h3>Details Ausrichter</h3>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="host">Ausrichter</label>
                </div>
                <div class="form-col2">
                    <input type="text" id="host" name="host" value="{{ event.host }}" disabled>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="contactmail">Kontakt E-Mail</label>
                </div>
                <div class="form-col2">
                    <input type="text" id="contactmail" name="contactmail" value="{{ event.contactmail }}" disabled>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="contact">Ansprechpartner</label>
                </div>
                <div class="form-col2">
                    <input type="text" id="contact" name="contact" value="{{ event.contact }}" disabled>
                </div>
            </div>
            
            <div class="sep-line"></div>
            
            <div class="row clearfix bottom pull-right">
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:event_edit_eventdata' event_id=event.pk %}">Wettkampfdaten bearbeiten</a>
                    </div>
                </div>
            </div>
            
        </fieldset>
    </div>
    
    <div class="row space"></div>
        
    <div class="row">
        <h3>Wertungen</h3>
        <fieldset class="wide">
                
            {% if scoringcat_list %}
            <table class="inform">
                <thead>
                    <tr>
                        <th style="width: 220px;">
                            Wertung
                        </th>
                        <th>
                            Beschreibung
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for scoringcat in scoringcat_list %}
                    <tr class="border">
                        <td>
                            {{ scoringcat }}
                        </td>
                        <td>
                            {{ scoringcat.description }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="row clearfix">
                <div class="form-col1">
                    <h3>Es gibt für diesen Wettkampf keine Wertungen!</h3>
                </div>
            </div>
            {% endif %}
            
            <div class="sep-line"></div>
            
            <div class="row clearfix bottom pull-right">
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:event_edit_scoringcat' event_id=event.pk scoringcat_id=None %}">Wertungen bearbeiten</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
        
    <div class="row space"></div>
    
    <div class="row">
        <h3>Wettbewerbe</h3>
        <fieldset class="wide">
            <div class="row clearfix">
                <div class="form-col grow">
                    {% if competition_list %}
                    <table class="inform">
                        <thead>
                            <tr>
                                <th style="width: 100px;">
                                    Disziplin
                                </th>
                                <th style="width: 80px;">
                                    Geschlecht
                                </th>
                                <th>
                                    Altersklassen
                                </th>
                                {% if final_list %}
                                <th style="width: 150px;">
                                    Finals
                                </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for discipline in discipline_list %}
                            {% if discipline.mixedgender == True %}
                            <tr class="border">
                                <td>
                                    {{ discipline }}
                                </td>
                                <td>
                                    Mixed
                                </td>
                                <td>
                                {% for competition in competition_list %}
                                {% if  competition.discipline == discipline %}
                                    {{ competition.fullname }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% if final_list %}
                                <td>
                                {% for final in final_list %}
                                {% if  final.discipline == discipline %}
                                    {{ final.fullname }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% endif %}
                            </tr>
                            {% else %}
                            <tr class="border">
                                <td rowspan="2">
                                    {{ discipline }}
                                </td>
                                <td>
                                    weiblich
                                </td>
                                <td>
                                {% for competition in competition_list %}
                                {% if  competition.discipline == discipline and competition.gender == 'f' %}
                                    {{ competition.fullname }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% if final_list %}
                                <td>
                                {% for final in final_list %}
                                {% if  final.discipline == discipline and final.gender == 'f' %}
                                    {{ final.fullname|cut:" weiblich" }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% endif %}
                            </tr>
                            <tr class="border">
                                <td>
                                    männlich
                                </td>
                                <td>
                                {% for competition in competition_list %}
                                {% if  competition.discipline == discipline and competition.gender == 'm' %}
                                    {{ competition.fullname }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% if final_list %}
                                <td>
                                {% for final in final_list %}
                                {% if  final.discipline == discipline and final.gender == 'm' %}
                                    {{ final.fullname|cut:" männlich"  }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% endif %}
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h3>Es wurden noch keine Wettbewerbe angelegt!</h3>
                    {% endif %}
                </div>
            </div>
            
            <div class="sep-line"></div>
            
            <div class="row clearfix bottom pull-right">
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:event_edit_competition' event_id=event.pk %}">Wettbewerbe bearbeiten</a>
                    </div>
                </div>
            </div>
            
        </fieldset>
    </div>
    
    <div class="row space"></div>
    
    <div class="row">
        <h3>Mindestqualifikationen</h3>
        <fieldset class="wide">
                
                    {% if qualification_table %}
                    <table class="inform">
                        {% for row in qualification_table %}
                        {% if forloop.first %}
                        <thead>
                            <tr>
                                {% for column in row %}
                                <th>
                                    {{ column }}
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {% else %}
                            <tr class="border">
                            {% for column in row %}
                                <td>
                                    {{ column }}
                                </td>
                            {% endfor %}
                            </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h3>Es gibt für diesen Wettkampf keine Mindestqualifikationen!</h3>
                    {% endif %}
            
            <div class="sep-line"></div>
            
            <div class="row clearfix bottom pull-right">
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:event_edit_qualification' event_id=event.pk qualification_id=None %}">Qualifikationen bearbeiten</a>
                    </div>
                </div>
            </div>
            
        </fieldset>
    </div>
    
    <div class="row space"></div>
    
</div>
{% endblock %}