{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Wettbewerbe bearbeiten</h2>
    </div>
        
    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>
    
    <div class="row">    
        <fieldset class="wide">
            <div class="row clearfix">
                <div class="form-col">
                    <h3>Vorhandene Wettbewerbe</h3>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col grow">
                    {% if competition_list %}
                    <table class="inform">
                        <thead>
                            <tr>
                                <th style="width: 100px;">
                                    Disziplin
                                </th>
                                <th style="width: 80px;">
                                    Geschlecht
                                </th>
                                <th>
                                    Altersklassen
                                </th>
                                {% if final_list %}
                                <th style="width: 150px;">
                                    Finals
                                </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for discipline in discipline_list %}
                            {% if discipline.mixedgender == True %}
                            <tr class="border">
                                <td>
                                    {{ discipline }}
                                </td>
                                <td>
                                    Mixed
                                </td>
                                <td>
                                {% for competition in competition_list %}
                                {% if  competition.discipline == discipline %}
                                    {{ competition.fullname }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% if final_list %}
                                <td>
                                {% for final in final_list %}
                                {% if  final.discipline == discipline %}
                                    {{ final.fullname }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% endif %}
                            </tr>
                            {% else %}
                            <tr class="border">
                                <td rowspan="2">
                                    {{ discipline }}
                                </td>
                                <td>
                                    weiblich
                                </td>
                                <td>
                                {% for competition in competition_list %}
                                {% if  competition.discipline == discipline and competition.gender == 'f' %}
                                    {{ competition.fullname }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% if final_list %}
                                <td>
                                {% for final in final_list %}
                                {% if  final.discipline == discipline and final.gender == 'f' %}
                                    {{ final.fullname|cut:" weiblich" }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% endif %}
                            </tr>
                            <tr class="border">
                                <td>
                                    männlich
                                </td>
                                <td>
                                {% for competition in competition_list %}
                                {% if  competition.discipline == discipline and competition.gender == 'm' %}
                                    {{ competition.fullname }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% if final_list %}
                                <td>
                                {% for final in final_list %}
                                {% if  final.discipline == discipline and final.gender == 'm' %}
                                    {{ final.fullname|cut:" männlich"  }}, 
                                {% endif %}
                                {% endfor %}
                                </td>
                                {% endif %}
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h3>Es wurden noch keine Wettbewerbe angelegt!</h3>
                    {% endif %}
                </div>
            </div>            
        </fieldset>
    </div>
      
    <div class="row">
        <form class="competition-form clearfix" action="" method="post">
        {% csrf_token %}
            <fieldset class="wide">
                <div class="row clearfix">
                    <div class="form-col">
                        <h3>Altersklassen-Wettbewerbe hinzufügen</h3>
                    </div>
                </div>
        
                <h4>Für welche Disziplinen sollen Wettbewerbe erzeugt werden?</h4>
                <div class="row clearfix">
                {% for discipline in disciplinequery %}
                    <div class="form-checkbox" >
                        <input type="checkbox" name="discipline" value="{{ discipline.code }}" />
                        <label class="visible">{{ discipline }}</label>
                    </div>
                {% endfor %} 
                </div>

<!--            
### TODO ###
### Hier könnte die Möglichkeit eingefügt werden weitere Disziplinen hinzuzufügen - oder man beschränkt das Hinzufügen von Disziplinen auf den Django Adminbereich
### ENDTODO ###
--!>
                
                <div class="sep-line"></div>
            
                <h4>In welche Altersklassen sollen die Wettbewerbe unterteilt werden?</h4>
                <div class="row clearfix">
                {% for agegroup in agegroupquery %}
                    <div class="form-checkbox" >
                        <input type="checkbox" name="agegroup" value="{{ agegroup.code }}" />
                        <label class="visible">{{ agegroup }}</label>
                    </div>
                {% endfor %} 
                </div>
            
<!--            
### TODO ###
### Hier könnte die Möglichkeit eingefügt werden weitere Altersklassen hinzuzufügen - oder man beschränkt das Hinzufügen von Altersklassen auf den Django Adminbereich
### ENDTODO ###
--!>

                <div class="sep-line"></div>
                <div class="sep-line"></div>
                
                <div class="row clearfix">
                    <div class="form-col">
                        <h3>Final-Wettbewerbe hinzufügen</h3>
                    </div>
                </div>

                {% if finals.count > 0 %}
                <h4>In welchen Disziplinen soll das Finale in einem eigenen Wettbewerb ausgetragen werden?</h4>
                <span style="font-size: 0.85em;">Die Final Ergebnisse werden in diesen Disziplinen dann nicht aus den Altersklassen Ergebnissen bestimmt, sondern in einem separaten  (Junior-)Finalwettkampf.</span>
                <div class="row clearfix">
                {% for discipline in disciplinequery %}
                    <div class="form-checkbox" >
                        <input type="checkbox" name="final-discipline" value="{{ discipline.code }}"/>
                        <label class="visible">{{ discipline }}</label>
                    </div>
                {% endfor %} 
                </div>
                {% else %}
                <div class="row clearfix">
                    <div class="form-col" style="font-size: 1em;">
                        <p>Es gibt für diesen Wettkampf keine Finalwertung!</br>
                        Es können daher auch keine Final-Wettbewerbe angelegt werden. Wenn Final-Wettbewerbe gewünscht sind, fügen Sie bitte zuerst eine entsprechende Finalwertung hinzu.</br></p>
                    </div>
                </div>
                {% endif %}
            

                <div class="sep-line"></div>
                
                <div class="row clearfix bottom pull-right">
                    <div class="form-col">
                        <button class="button" type="submit" value="submit">Wettbewerbe erzeugen</button>
                    </div>
                    <div class="form-col">
                        <div class="button"><a href="{% url 'vunireg:event' event_id=event.pk %}">Abbrechen</a></div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    
 </div>
{% endblock %}