{% extends "index.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Wettkampfdaten bearbeiten</h2>
    </div>
        
    <div class="row wide">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response }}</p>
        </div>
        {% endif %}
    </div>
        
    <div class="row">
        <form class="clearfix" action="" method="POST">
        {% csrf_token %}
        <fieldset class="wide">
        
                
                {# Include non_field_errors #}
                {{ form.non_field_errors }}

                {# Include hidden fields #}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                    {{ hidden_field.errors }}
                {% endfor %}
        
            <div class="row clearfix">
                <div class="form-col">
                    <h3>Wettkampf Basisdaten</h3>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.slug.id_for_label }}">{{ form.slug.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.slug }}
                    {{ form.slug.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible">Datum</label>
                </div>
                <div class="form-col2">
                    <span style="padding-right: 10px;"><label class="visible" for="{{ form.start.id_for_label }}">{{ form.startdate.label }}</label></span>
                    {{ form.startdate }}
                    {{ form.startdate.errors }}
                </div>
                <div class="form-col2">
                    <span style="padding-right: 10px;"><label class="visible" for="{{ form.end.id_for_label }}">{{ form.enddate.label }}</label></span>
                    {{ form.enddate }}
                    {{ form.enddate.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.group.id_for_label }}">{{ form.group.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.group }}
                    {{ form.group.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.location.id_for_label }}">{{ form.location.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.location }}
                    {{ form.location.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible">Bahnen</label>
                </div>
                <div class="form-col">
                    <span style="padding-right: 10px;"><label class="visible" for="{{ form.lanesstr.id_for_label }}">{{ form.lanesstr.label }}</label></span>
                    {{ form.lanesstr }}
                    {{ form.lanesstr.errors }}
                </div>
                <div class="form-col">
                    <span style="padding-right: 10px;"><label class="visible" for="{{ form.lanesrnd.id_for_label }}">{{ form.lanesrnd.label }}</label></span>
                    {{ form.lanesrnd }}
                    {{ form.lanesrnd.errors }}
                </div>
            </div>
            
            <div class="sep-line"></div>
            
            <div class="row clearfix">
                <div class="form-col">
                    <h3>Details Ausrichter</h3>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.host.id_for_label }}">{{ form.host.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.host }}
                    {{ form.host.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.contactmail.id_for_label }}">{{ form.contactmail.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.contactmail }}
                    {{ form.contactmail.errors }}
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col1">
                    <label class="visible" for="{{ form.contact.id_for_label }}">{{ form.contact.label }}</label>
                </div>
                <div class="form-col2">
                    {{ form.contact }}
                    {{ form.contact.errors }}
                </div>
            </div>
            
            <div class="sep-line"></div>
            
            <div class="row clearfix">
                <div class="form-col">
                    <h3>Hinweis zur Standard Wertung:</h3>
                </div>
            </div>
            <div class="row clearfix">
                <div class="form-col">
                    Es wird standardmäßig eine Altersklassenwertung, sowie eine Final und Junior-Finalwertung für den Wettkampf angelegt, die alle gemeldeten Teilnehmer umfasst.
                    Bei Bedarf können die Wertungen später bearbeitet werden.
                </div>
            </div>
            
            <div class="sep-line"></div>

            <div class="row clearfix bottom pull-right">
                <div class="form-col">
                    <button class="button" type="submit" value="Save Event">Daten speichern</button>
                </div>
                <div class="form-col">
                    <div class="button"><a href="{% url 'vunireg:index' %}">Abbrechen</a></div>
                </div>
            </div>

            </fieldset>
        </form>     
    </div>
    
</div>
{% endblock %}