{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <p>Wählen sie einen bestehenden Wettkampf zur Verwaltung aus oder legen sie einen neuen Wettkampf an.</p>

        <div class="tableblock">
            <table class="table-list">
                <thead>
                    <tr>
                        <th class="sortable">
                            <p>Wettkampf</p>
                        </th>
                        <th class="sortable">
                            <p>Von</p>
                        </th>
                        <th class="sortable">
                            <p>Bis</p>
                        </th>
                        <th class="sortable">
                            <p>Wettkampfort</p>
                        </th>
                        <th class="sortable">
                            <p>Ausrichter</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in event_list %}
                    <tr>
                        <td>
                            <a style="display:block" href="{% url 'vunireg:event' event_id=event.pk %}">{{ event.name }}</a>
                        </td>
                        <td>
                            <a style="display:block" href="{% url 'vunireg:event' event_id=event.pk %}">{{ event.startdate }}</a>
                        </td>
                        <td>
                            <a style="display:block" href="{% url 'vunireg:event' event_id=event.pk %}">{{ event.enddate }}</a>
                        </td>
                        <td>
                            <a style="display:block" href="{% url 'vunireg:event' event_id=event.pk %}">{{ event.location }}</a>
                        </td>
                        <td>
                            <a style="display:block" href="{% url 'vunireg:event' event_id=event.pk %}">{{ event.host}}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <table class="table-list">
            <thead>
                <tr>
                    <th class="hoverable">
                        <p><a style="display:block" href="{% url 'vunireg:event_add' %}">Neuen Wettkampf anlegen</a></p>
                    </th>
                </tr>
            </thead>
        </table>
    
    </div>
</div>
{% endblock %}