{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3-4">
            <div class="sta-con-box">
                <h1>Verwalten des Wettkampfes XXX</h1>
                <p>In diesem Bereich kann der Wettkampf XXX verwaltet werden.
                Dazu gehört die Verwaltung des Wettkampfes selber, sowie die Verwaltung aller Starts und aller Ergebnisse.</p></br>
                </br>
                <h3>Wettkampf verwalten - Basisdaten</h3>
                <p>Unter dem Menüpunkt "Wettkampf verwalten" können alle Rahmendaten editiert werden sowie Wettbewerbe (Ein Wettbewerb = Eine Altersklasse (männlich oder weiblich) einer Disziplin) angelegt werden.
                Es können die gemeldeten Teilnehmer und die zugehörigen Vereine betrachtet und bei Bedarf editiert werden.
                Es können alle Meldungen eingesehen und bei Bedarf editiert werde.
                WICHTIG: Alle Meldungen beziehen sich ausschließlich auf Disziplinen - die Zuordnung zu den einzelnen Wettbewerben erfolgt vom System unter dem Menüpunkt "Starts verwalten".</p></br>
                </br>
                <h3>Starts verwalten</h3>
                <p>Unter dem Menüpunkt "Starts verwalten" können die Starts und Startlisten des Wettkampfes erstellt werden.
                Beim erstellen der Starts werden die Meldungen anhand von festen Kriterien auf die Wettbewerbe aufgeteilt und auf dieser Zuteilung basierend die Startlisten erstellt.
                Für die unterschiedlichen im System hinterlegten Disziplinen gibt es festgelegte Algorithmen, nach denen die Startlisten erstellt werden.</p></br>
                </br>
                <h3>Ergebnisse verwalten</h3>
                <p>Unter dem Menüpunkt "Ergebnisse verwalten" können alle Ergebnisse des Wettkampfes importiert oder manuel angelegt werden.
                Für jeden Start kann ein Ergebnis registriert werden.
                Anschließend können Ergebnislisten und Urkunden erstellt werden.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
