{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Ergebnisse per CSV importieren</h2>
    </div>

    <div class="row">
        <p style="display:none;">Der CSV Import ermöglicht das Importieren von Teilnehmern.</br>
        Es können sowohl Teilnehmer ohne Meldungen, als auch Teilnehmer mit einer beliebigen Anzahl an Meldungen importiert werden.</br>
        Format OHNE Meldungen: Nachname, Vorname, Geschlecht, Geburtsdatum, Staat, Verein</br>
        Format MIT Meldungen: Nachname, Vorname, Geschlecht, Geburtsdatum, Staat, Verein, Disziplin, Meldezeit(Feld kann leer bleiben",")</br>
        Es können weitere Meldungen in der Form ",Disziplin, Meldezeit" angehängt werden.</p>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe   }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe   }}</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <form action="{% url 'vunireg:import_result_csv' event_id=event.pk %}" method="post">
        {% csrf_token %}
            <fieldset class="">
                
                <div class="row">
                    <div class="form-col">
                        <label class="visible" for="format">Importformat</label>
                    </div>
                    <div class="form-col grow-max">
                        <select name="format" id="format">
                            <option value="FinishLynx">FinishLynx</option>
                            <option value="VUni">VUni Virtual Competition</option>
                        </select>
                    </div>
                </div>
                
                <div class="sep-line"></div>
                
                <div class="form-group">
                    <label class="" for="exampleFormControlTextarea1">CSV Textbereich</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 250px; width: 100%; margin-bottom: 15px;" rows="1" name="csvfile">{{ text }}</textarea>
                </div>
            
                <div class="sep-line"></div>
            
                <div class="row clearfix bottom pull-right">
                    <div class="form-col">
                        <button class="button" type="submit" value="CSV importieren">CSV importieren</button>
                    </div>
                    <div class="form-col">
                        <div class="button"><a href="{% url 'vunireg:execution' event_id=event.pk %}">Abbrechen</a></div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    
</div>
{% endblock %}
