{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{% static 'css/print.css' %}" media="print" rel="stylesheet">
        <title>Ergebnisliste VTC2021</title>
        <meta name="description" content="Testpage">
        <meta name="author" content="VUni Competition Manager">
    </head>

    <body>
        <div class="date" style="position:absolute">{% now "j.n.Y"%}</div>
        <div class="time" style="position:absolute">{% now "H:i:s"%}</div>
        <div class="event" style="position:absolute">{% with result_list|first as first_result %}{{ first_result.start.event }}{% endwith %}</div>
        <div class="eventdate" style="position:absolute">{% with result_list|first as first_result %}{{ first_result.start.event.end|date:"d.m.Y" }}{% endwith %}</div>
        
    {% if result_list %}
    {% for result in result_list %}
    {% ifchanged result.printcomp %}
 <!--     ifchanged result.start.competition.fullname -->
    {% if not forloop.first %}
                    </tbody>
                </table>
        </div>
    {% endif %}
    {% ifchanged result.start.competition.discipline %}
        <div class="headrow">{{ result.start.competition.discipline }}</div>
    {% endifchanged %}
        <div class="nobreakblock"></div>
        <div class="row">
            <table class="fieldset-list">
                <thead style="margin-bottom:8px">
                    <tr>
                        <th colspan="9" class="name">
                            {{ result.printcomp }}
                        </th>
                    </tr>
                    <tr>
                        <th style="width:0.8cm; text-align:right">
                            Rang
                        </th>
                        <th style="width:0.6cm; padding-right:0.2cm; text-align:right">
                        {% if result.start.person.startnr %}
                            StNr
                        {% else %}
                        {% endif %}
                        </th>
                        <th style="width:4.6cm">
                            Name
                        </th>
                        <th style="width:0.8cm; text-align:center">
                            Jg
                        </th>
                        <th style="width:0.6cm">
                            {% if result.start.person.state %}Nat{% endif %}
                        </th>
                        <th style="width:5.5cm">
                            Verein
                        </th>
                        <th style="width:1.4cm; padding-right:0.3cm; text-align:right">
                            Leistung
                        </th>
                        <th style="width:1.5cm">
                            {% if result.custom1 %}Wind{% endif %}
                        </th>
                        <th style="width:1.2cm">
                            {% if result.custom2 %}Sonst{% endif %}
                        </th>
                    </tr>
                    <tr class="blank_row">
                        <th colspan="9"></th>
                    </tr>
                </thead>
                <tbody>
    {% endifchanged %}
                    {% ifchanged result.printsection %}
                    {% if not result.printsection == 'RANKED' %}
                    <tr>
                        <td>
                        </td>
                        <td colspan="2" style="padding-top:8px; font-weight: 600">
                            {% if result.printsection %}
                            {{ result.printsection }}
                            {% else %}
                            außer Konkurenz
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endifchanged %}
                    <tr>
                        <td style="width:0.8cm; text-align:right; font-weight: 600">
                            {% if result.rank %}
                            {% if not result.rank == 'QNA' %}
                                {{ result.rank }}.
                            {% else %}
                                {{ result.rank }}
                            {% endif %}
                            {% endif %}
                        </td>
                        <td style="width:0.6cm; padding-right:0.2cm; text-align:right; font-weight: 600">
                            {% if result.start.person.startnr %}{{ result.start.person.startnr }}{% endif %}
                        </td>
                        <td style="width:4.6cm; font-weight: 600;">
                            {{ result.start.person.forename }} {{ result.start.person.surname }}
                        </td>
                        <td style="width:0.8cm">
                            {{ result.start.person.dateofbirth|date:"Y" }}
                            {% if result.start.person.otheragegroup == True %}*{% endif %}
                        </td>
                        <td style="width:0.6cm">
                            {% if result.start.person.state %}{{ result.start.person.state }}{% endif %}
                        </td>
                        <td style="width:5.5cm">
                            {% if not result.person.club.individualstart %}{{ result.person.club }}{% else %}vereinslos{% endif %}
                        </td>
                        <td style="width:1.4cm; padding-right:0.3cm; text-align:right; font-weight: 600">
                            {% if result.value %}
                            {{ result.value }}
                            {% elif result.comment %}
                            {{ result.comment }}
                            {% endif %}
                        </td>
                        <td style="width:1.5cm">
                            {% if result.custom1 %}{{ result.custom1 }}{% endif %}
                        </td>
                        <td style="width:1.2cm">
                        </td>
                    </tr>
    {% if forloop.last %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% endfor %}
    
    {% elif scoringcat_id == 'None' or discipline_id == 'None' %}
    <div class="row clearfix">
        <div class="form-col">
            <h3>Bitte eine Wertung und eine Disziplin zur Ergebnisausgabe auswählen!</h3>
        </div>
    </div>
    {% else %}
    <div class="row clearfix">
        <div class="form-col">
            <h3>Es gibt für diesen Wettkampf keine Ergebnisse!</h3>
        </div>
    </div>
    {% endif %}
    
    
    </body>
</html>