{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{% static 'css/certificate.css' %}" media="print" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/certificate.css' %}">
        <title>Teilnehmerurkunde</title>
        <meta name="description" content="Teilnehmerurkunde">
        <meta name="author" content="VUni Competition Manager">
    </head>

    <body>
<!--        <div class="date" style="position:absolute">{% now "j.n.Y"%}</div>
        <div class="time" style="position:absolute">{% now "H:i:s"%}</div>
        <div class="event" style="position:absolute">{% with result_list|first as first_result %}{{ first_result.event }}{% endwith %}</div>
--!>
 
        {% if result_list %}
        {% for result in result_list %}
        {% ifchanged result.person %}
        {% if not forloop.first %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div class="certificate_participantblock">
            <p class="name">{{ result.person }}</p>
<!-- font-size default: 22pt - bei zu langen Vereinsnamen auf 16/18pt verkleinern --!>
            <p class="club" style="font-size:22pt">{% if not result.person.club.individualstart %}{{ result.person.club }}{% else %}vereinslos{% endif %}</p>
        </div>

        <div class="certificate_resultblock">
            <table class="fieldset-list">
                <thead style="margin-bottom:8px">
                    <tr>
                        <th style="width:3.5cm">
                            Disziplin
                        </th>
                        <th style="width:3cm">
                            Altersklasse
                        </th>
                        <th style="width:1.5cm">
                            Rang
                        </th>
                        <th style="width:2.5cm">
                            Leistung
                        </th>
                    </tr>
                    <tr class="blank_row">
                        <th colspan="4"></th>
                    </tr>
                </thead>
                <tbody>
        {% endifchanged %}
                    <tr>
                        <td style="width:3.5cm">
                            {{ result.start.competition.discipline }}
                        </td>
                        <td style="width:3cm">
                            {{ result.start.entry.competition.fullname }}
                        </td>
                        <td style="width:1.5cm">
                            {% if result.rank %}
                            {% if not result.rank == 'QNA' %}
                                {{ result.rank }}.
                            {% else %}
                                {{ result.rank }}
                            {% endif %}
                            {% endif %}
                        </td>
                        <td style="width:2.5cm">
                            {% if result.value %}
                            {{ result.value }}
                            {% elif result.comment %}
                            {{ result.comment }}
                            {% endif %}
                        </td>
                    </tr>
        {% endfor %}
        {% else %}
        <div class="row clearfix">
            <div class="form-col">
                <h3>Keine Ergebnisse!</h3>
            </div>
        </div>
        {% endif %}
    
    
    </body>
</html>