{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Teilnehmer per CSV importieren</h1>

        <p style="display:none;">Der CSV Import ermöglicht das Importieren von Teilnehmern.</br>
        Es können sowohl Teilnehmer ohne Meldungen, als auch Teilnehmer mit einer beliebigen Anzahl an Meldungen importiert werden.</br>
        Format OHNE Meldungen: Nachname, Vorname, Geschlecht, Geburtsdatum, Staat, Verein</br>
        Format MIT Meldungen: Nachname, Vorname, Geschlecht, Geburtsdatum, Staat, Verein, Disziplin, Meldezeit(Feld kann leer bleiben",")</br>
        Es können weitere Meldungen in der Form ",Disziplin, Meldezeit" angehängt werden.</p>

        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response }}</p>
        </div>
        {% endif %}

        <form action="{% url 'vunireg:import' event_id=event.pk %}" method="post">
        {% csrf_token %}
        <fieldset class="">
            Bsp.: Vocke,Jan,m,1994-01-16,deutsch,VfL Grafenwald,100m,,400m,,800m,
            <div class="form-group">
                <label class="" for="exampleFormControlTextarea1">CSV Textbereich</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 250px; width: 100%; margin-bottom: 15px;" rows="1" name="csvfile">{{ text }}</textarea>
            </div>
            
            <div class="sep-line"></div>
            
            <div class="button"><a href="{% url 'vunireg:person_list' event_id=event.pk %}">Abbrechen</a></div>
            <button class="button" type="submit" value="CSV importieren">CSV importieren</button>
        </fieldset>
        </form>
    </div>
</div>
{% endblock %}
