{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Ergebnisse eingeben</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>
    
    <div class="row">
        <fieldset>
            <div class="row clearfix bottom">
                <div class="form-col">
                    <div class="button">
                        <a href="{% url 'vunireg:import_result_csv' event_id=event.pk %}">Ergebnisse als CSV importieren</a>
                    </div>
                </div>
                <div class="form-col">

                </div>
            </div>
        </fieldset>
    </div>
        
    <div class="row">
        <form action="" id="result-form" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="row bottom">
                    <div class="form-col">
                        <label class="visible" for="comp">Wettbewerb</label>
                    </div>
                    <div class="form-col grow">
                        <select name="comp" id="comp">
                            {% for competition in competition_list %}
                            <option value="{{ competition.pk }}" {% if competition.pk == competition_id|add:"0" %}selected{% endif%}>{{ competition }}</option>
                            {% endfor %}
                        </select>
                    </div>
            <!--
                    <div class="form-col">
                        <label class="visible" for="round">Runde</label>
                    </div>
                    <div class="form-col grow">
                        <select name="round" id="round">
                            <option value="pre">Altersklasse</option>
                            <option value="final">Finale</option>
                        </select>
                    </div>
            --!>
                    <div class="form-col">
                        <input type="submit" class="btn" value="Ergebnisse bearbeiten" name="edit_results">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    
    <div class="row">
        <h2>Ergebnislisten drucken</h2>
    </div>
    
    <div class="row">
        <form action="" id="resultlist-form" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="row bottom">
                    <div class="form-col">
                        <label class="visible" for="scoringcat">Wertung</label>
                    </div>
                    <div class="form-col grow">
                        <select name="scoringcat" id="scoringcat">
                            {% for scoringcat in scoringcat_list %}
                            <option value="{{ scoringcat.pk }}" {% if scoringcat.pk == scoringcat_id|add:"0" %}selected{% endif %}>{{ scoringcat }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-col">
                        <label class="visible" for="discipline">Disziplin</label>
                    </div>
                    <div class="form-col grow">
                        <select name="discipline" id="discipline">
                            {% for discipline in discipline_list %}
                            <option value="{{ discipline.pk }}" {% if discipline.pk == discipline_id|add:"0" %}selected{% endif %}>{{ discipline }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-col">
                        <input type="submit" class="btn" value="Ergebnisse anzeigen" name="show_results">
                    </div>
                    <div class="form-col">
                        <input type="submit" formtarget="_blank" class="btn" value="PDF Drucken" name="print_results">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    
    <div class="row">
        <h2>Urkunden drucken</h2>
    </div>
    
    <div class="row">
        <form action="" id="certificate1-form" method="post">
        {% csrf_token %}
            <fieldset>
                <div class="row clearfix">
                    <div class="form-col">
                        <h3>Sieger-Urkunden drucken</h3>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="form-col">
                        <label class="visible" for="scoringcat">Wertung</label>
                    </div>
                    <div class="form-col grow">
                        <select name="scoringcat" id="scoringcat">
                            {% for scoringcat in scoringcat_list %}
                            <option value="{{ scoringcat.pk }}" {% if scoringcat.pk == scoringcat_id|add:"0" %}selected{% endif %}>{{ scoringcat }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-col">
                        <label class="visible" for="discipline">Disziplin</label>
                    </div>
                    <div class="form-col grow">
                        <select name="discipline" id="discipline">
                            {% for discipline in discipline_list %}
                            <option value="{{ discipline.pk }}" {% if discipline.pk == discipline_id|add:"0" %}selected{% endif %}>{{ discipline }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-col">
                        <input type="submit" formtarget="_blank" class="btn" value="PDF Drucken" name="print_certificates">
                    </div>
                </div>

                <div class="sep-line"></div>
                
                <div class="row clearfix">
                    <div class="form-col">
                        <h3>Teilnehmer-Urkunden drucken</h3>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="form-col">
                        <label class="visible" for="club">Verein</label>
                    </div>
                    <div class="form-col grow">
                        <select name="club" id="club">
                            {% for club in club_list %}
                            <option value="{{ club.pk }}" {% if club.pk == club_id|add:"0" %}selected{% endif %}>{{ club }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-col">
                        <input type="submit" formtarget="_blank" class="btn" value="PDF Drucken" name="print_compcert_pdf">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

 </div>
{% endblock %}