{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Ergebnisse ausgeben</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>
        
    <div class="row">
        <form action="" id="menue-form" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="row bottom">
                    <div class="form-col">
                        <label class="visible" for="scoringcat">Wertung</label>
                    </div>
                    <div class="form-col grow">
                        <select name="scoringcat" id="scoringcat">
                            {% for scoringcat in scoringcat_list %}
                            <option value="{{ scoringcat.pk }}" {% if scoringcat.pk == scoringcat_id|add:"0" %}selected{% endif %}>{{ scoringcat }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-col">
                        <label class="visible" for="discipline">Disziplin</label>
                    </div>
                    <div class="form-col grow">
                        <select name="discipline" id="discipline">
                            {% for discipline in discipline_list %}
                            <option value="{{ discipline.pk }}" {% if discipline.pk == discipline_id|add:"0" %}selected{% endif %}>{{ discipline }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-col">
                        <input type="submit" class="btn" value="Ergebnisse anzeigen" name="show_results">
                    </div>
                    <div class="form-col">
                        <input type="submit" formtarget="_blank" class="btn" value="PDF Drucken" name="print_results">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    {% if result_list %}
    {% for result in result_list %}
    {% ifchanged result.printcomp %}
 <!--     ifchanged result.start.competition.fullname -->
    {% if not forloop.first %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    {% endif %}
        <div class="row">
        <fieldset>            
            <table class="fieldset-list">
                <thead>
                    <tr>
                        <th colspan="100%">
                            {{ result.printcomp }}
                        </th>
                    </tr>
                </thead>
                <tbody>
    {% endifchanged %}
                    {% ifchanged result.printsection %}
                    {% if not result.printsection == 'RANKED' %}
                    <tr>
                        <td>
                        </td>
                        <td colspan="2" style="padding-top:8px; font-weight: 600;">
                            {% if result.printsection %}
                            {{ result.printsection }}
                            {% else %}
                            außer Konkurenz
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endifchanged %}
                    <tr>
                        <td style="width:30px; padding-right:10px; text-align:right">
                            {% if result.rank %}
                            {% if not result.rank == 'QNA' %}
                                {{ result.rank }}.
                            {% else %}
                                {{ result.rank }}
                            {% endif %}
                            {% endif %}
                        </td>
                        {% if result.start.person.startnr %}
                        <td style="width:40px; padding-right:10px; text-align:right">
                                {{ result.start.person.startnr }}
                        </td>
                        {% else %}
                        <td style="width:0px; padding-right:10px; text-align:right">
                        </td>
                        {% endif %}
                        <td style="width:250px; padding-right:10px">
                        {% if result.start.person %}
                            {{ result.start.person.forename }} {{ result.start.person.surname }}
                        {% else %}
                            {{ result.start.entry.team.name }}
                        {% endif %}
                        </td>
                        <td style="width:100px; padding-right:10px">
                            {{ result.start.person.dateofbirth|date:"Y" }}
                            {% if result.start.person.otheragegroup == True %}*{% endif %}
                        </td>
                        <td style="width:300px; padding-right:10px">
                            {{ result.start.person.club }}
                        </td>
                        <td>
                            {% if result.value %}
                            {{ result.value }}
                            {% elif result.comment %}
                            {{ result.comment }}
                            {% endif %}
                        </td>
                        <td>
                            {% if result.custom1 %}{{ result.custom1 }}{% endif %}
                        </td>
                    </tr>
    {% if forloop.last %}
                </tbody>
            </table>
        </fieldset>
        </div>
    {% endif %}
    {% endfor %}
    
    {% elif scoringcat_id == 'None' or discipline_id == 'None' %}
    <div class="row clearfix">
        <div class="form-col">
            <h3>Bitte eine Wertung und eine Disziplin zur Ergebnisausgabe auswählen!</h3>
        </div>
    </div>
    {% else %}
    <div class="row clearfix">
        <div class="form-col">
            <h3>Es gibt für diesen Wettkampf keine Ergebnisse!</h3>
        </div>
    </div>
    {% endif %}

 </div>
{% endblock %}