{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Ergebnisse eingeben</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>
    
    <div class="row">
        <fieldset>
            <div class="row clearfix bottom">
                <div class="form-col">
                    <div class="button">
                        <a href="{% url 'vunireg:import_result_csv' event_id=event.pk %}">Ergebnisse als CSV importieren</a>
                    </div>
                </div>
                <div class="form-col">

                </div>
            </div>
        </fieldset>
    </div>
        
    <div class="row">
        <form action="" id="menue-form" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="row bottom">
                    <div class="form-col">
                        <label class="visible" for="comp">Wettbewerb</label>
                    </div>
                    <div class="form-col grow">
                        <select name="comp" id="comp">
                            {% for competition in competition_list %}
                            <option value="{{ competition.pk }}" {% if competition.pk == competition_id|add:"0" %}selected{% endif%}>{{ competition }}</option>
                            {% endfor %}
                        </select>
                    </div>
            <!--
                    <div class="form-col">
                        <label class="visible" for="round">Runde</label>
                    </div>
                    <div class="form-col grow">
                        <select name="round" id="round">
                            <option value="pre">Altersklasse</option>
                            <option value="final">Finale</option>
                        </select>
                    </div>
            --!>
                    <div class="form-col">
                        <input type="submit" class="btn" value="Ergebnisse bearbeiten" name="edit_results">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    {% if starts_list %}
    <div class="row">
        <form action="" id="result-form" method="post">
            {% csrf_token %}
            <fieldset>
                {# Include management of formset #}
                {{ formset.management_form }} 
        
                {# Include non_form_errors of formset #}
                {{ formset.non_form_errors }}

                {# Include hidden fields of formset #}
                {% for hidden_field in formset.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}
            
                <table class="fieldset-list">
                    <thead>
                        <tr>
                           <th width="40px">
                                Lauf
                            </th>
                            <th width="40px">
                                Bahn
                            </th>
                            <th width="40px">
                                StNr
                            </th>
                            <th width="200px">
                                Name
                            </th>
                            <th width="160px">
                                Leistung
                            </th>
                            <th width="100px">
                                Wind
                            </th>
                            <th>
                                Kommentar
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {# Include every form of formset #}
                        {% for form in formset %}
                        <tr>
                            {# Include hidden fields of each form #}
                            {% for hidden in form.hidden_fields %}
                                <td>
                                {{ hidden }}
                                </td>
                            {% endfor %}
                        </tr>
                        {# Include visible fields of each form #}
                        <tr>
                            {{ form.non_field_errors }}
                        </tr>
                        <tr>
                            <td>
                                {{ form.instance.start.heat }}
                            </td>
                            <td>
                                {{ form.instance.start.lane }}
                            </td>
                            <td>
                                {% if form.instance.start.entry.person %}
                                {{ form.instance.start.entry.person.startnr }}
                                {% else %}
                                {% endif %}
                            </td>
                            <td>
                                {% if form.instance.start.entry.person %}
                                {{ form.instance.start.entry.person.forename }} {{ form.instance.start.entry.person.surname }}
                                {% else %}
                                {{ form.instance.start.entry.team.name }}
                                {% endif %}
                            </td>
                            {% for field in form %}
                            <td>
                                {{ field.label_tag }} {{ field }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
                <div class="sep-line"></div>
            
                <div class="row clearfix bottom">
                    <div class="form-col2 grow">
                        <button class="button grow" type="submit" value="save_results" name="save_results">Ergebnisse speichern</button>
                    </div>
                </div>
            
            </fieldset>
        </form>
    </div>
    {% elif competition_id == 'None' %}
    <div class="row clearfix">
        <div class="form-col">
            <h3>Bitte einen Wettbewerb zur Ergebniseingabe auswählen!</h3>
        </div>
    </div>
    {% else %}
    <div class="row clearfix">
        <div class="form-col">
            <h3>Es gibt für diesen Wettkampf keine Starts - es können daher keine Ergebnisse eingetragen werden!</h3>
        </div>
    </div>
    {% endif %}

 </div>
{% endblock %}