{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Übersicht Starts</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>

    <div class="row space"></div>

    <div class="row">
        <h3>Wettbewerbe zusammenlegen</h3>
        <fieldset class="wide">
            <div class="row clearfix bottom pull-right">
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:competition_list' event_id=event.pk %}">Wettbewerbe zusammenlegen</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="row space"></div>

    <div class="row">
        <h3>Startnummern zuweisen</h3>
        <fieldset class="wide">
            <div class="row clearfix bottom pull-right">
                <div class="form-col">
                    <div class="button fixed-width">
                        <a style="display:block" href="{% url 'vunireg:start_startnr' event_id=event.pk %}">Startnummern zuweisen</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="row space"></div>

    <div class="row">
        <h3>Starts für die Disziplinen des Wettkampfes setzten</h3>
        <div class="sub-nav-top">
            <ul id="sub-menu" class="no-list">
                <li>
                    <a href="{% url 'vunireg:start_seed_overview' event_id=event.pk %}">Übersicht</a>
                </li>
            </ul>
            <ul id="sub-menu" class="no-list">
                {% for discipline in disciplinequery %}
                <li>
                    {% if discipline.state == 'NOENTRYS' %}
                    <div class="colorpick"></div>
                    {% elif discipline.state == 'NOSTARTS' %}
                    <div class="colorpick yellow"></div>
                    {% elif discipline.state == 'STARTSOK' %}
                    <div class="colorpick green"></div>
                    {% else %}
                    <div class="colorpick red"></div>
                    {% endif %}
                    <a href="{% url 'vunireg:start_seed_listview' event_id=event.pk discipline_id=discipline.pk %}">{{ discipline }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="row space"></div>
    
    <div class="row">
        <h3>Übersicht nach Vereinen</h3>
        <p>Die Übersicht nach Vereinen bietet die Möglichkeit Kontrollblätter mit allen Starts eines Vereins zu erstellen.</p>
        <form action="" method="post">
            {% csrf_token %}
            <fieldset  class="wide">
                <div class="row bottom">
                    <div class="form-col">
                        <label class="visible" for="club">Verein wählen:</label>
                    </div>
                    <div class="form-col grow" >
                        <select name="club" id="club" required>
                            <option selected disabled>--- bitte auswählen ---</option>
                        {% for club in club_list %}
                            <option value="{{ club.pk }}">{{ club }}</option>
                        {% endfor %}
                        </select> 
                    </div>
                    <div class="form-col">
                        <input type="submit" class="btn" value="Starts anzeigen" name="club_starts">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    
    <div class="row space"></div>

 </div>
{% endblock %}