{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Starts {{ activediscipline }}</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="sub-nav-top">
            <ul id="sub-menu" class="no-list">
                <li>
                    <a href="{% url 'vunireg:start_seed_overview' event_id=event.pk %}">Übersicht</a>
                </li>
            </ul>
            <ul id="sub-menu" class="no-list">
                {% for discipline in disciplinequery %}
                <li>
                    {% if discipline.state == 'NOENTRYS' %}
                    <div class="colorpick"></div>
                    {% elif discipline.state == 'NOSTARTS' %}
                    <div class="colorpick yellow"></div>
                    {% elif discipline.state == 'STARTSOK' %}
                    <div class="colorpick green"></div>
                    {% else %}
                    <div class="colorpick red"></div>
                    {% endif %}
                    <a href="{% url 'vunireg:start_seed_listview' event_id=event.pk discipline_id=discipline.pk %}">{{ discipline }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
<!--    
    <div class="row">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="row bottom">
                    <div class="form-col">
                        <input type="submit" class="btn" value="Setzen" name="seeding">
                    </div>

                    <div class="form-col">
                        <label class="togglebutton" for="toggle-1">Details</label>
                    </div>
                </div>
                
                <input type="checkbox" class="toggleinput" id="toggle-1" class="visually-hidden">
                <div class="toggelcontent">
                    <div class="sep-line"></div>
                    
                    <div class="form-col">
                        <label class="visible" for="seedmode">Setzmodus</label>
                    </div>
                    <div class="form-col grow" style="">
                        <select name="seedmode" id="seedmode">
                            <option value="IUF-full" selected="selected">IUF (full)</option>
                            <option value="IUF-equal">IUF (equal)</option>
                            <option value="STNR">Startnummer</option>
                            <option value="RAND">Zufall</option>
                        </select>
                    </div>
                    <div class="form-col">
                        <label class="visible" for="order">Reihenfolge</label>
                    </div>
                    <div class="form-col grow" style="">
                        <select name="order" id="order">
                            <option value="bestlast" selected="selected">Beste zuletzt</option>
                            <option value="bestfirst">Beste zuerst</option>
                        </select>
                    </div>
                    <div class="form-col">
                        <label class="visible" for="leaffree">Auslassen Bahnen</label>
                    </div>
                    <div class="form-col grow" style="max-width: 100%;">
                        <input type="text" id="leaffree" name="leaffree" placeholder="1,4">
                    </div>
                    
                    <div class="row bottom">
                    
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
--!>    
    
    <div class="row">
        <h3>Altersklassen-Wettbewerbe setzten</h3>
    </diV>
    
    <div class="row">
        <form action="" id="agegroup-menue-form" method="post">
        {% csrf_token %}
            <fieldset>
                <div class="row bottom">
                    <div class="form-col">
                        <input type="submit" class="btn" value="Setzten" name="seeding">
                    </div>
                    <div class="form-col">
                        <input type="submit" class="btn" value="Zurücksetzten" name="del_seeding">
                    </div>
                    <div class="form-col">
                        <input type="submit" class="btn" value="### CSV Export ###" name="export_csv">
                    </div>
                    <div class="form-col">
                        <input type="submit" formtarget="_blank" class="btn" value="### PDF Drucken ###" name="export_pdf">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="row">
        {% if start_list %}
        <div class="tableblock">
            <table class="table-list">
                <thead>
                    <tr>
                        <th width="10px">
                        </th>
                        <th class="sortable" width="120px">
                            <p>Disziplin</p>
                        </th>
                        <th class="sortable" width="100px">
                            <p>AK</p>
                        </th>
                        <th class="sortable" width="45px">
                            <p>Geschlecht</p>
                        </th>
                        <th class="sortable" width="45px">
                            <p>Lauf</p>
                        </th>
                        <th class="sortable" width="45px">
                            <p>Bahn</p>
                        </th>
                        <th class="sortable" width="200px">
                            <p>Teilnehmer</p>
                        </th>
                        <th class="sortable" width="80px">
                            <p>Meldezeit</p>
                        </th>
                        <th class="sortable">
                            <p>Verein</p>
                        </th>
                        <th>
                            <p></p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for start in start_list %}
                    <tr {% if competition.ismerged == True %} class="ismerged"{% endif %}>
                        <td>
                        {% if start.competition.discipline.isgroupdisc > 1 %}
                            {% if start.team.members != 4 %}
                                <div class="colorpick red"></div>
                            {% endif %}
                            {% if start.team.members == 4 %}
                                <div class="colorpick green"></div>
                            {% endif %}
                        {% endif %}
                        </td>
                        <td>
                            <p>{{start.competition.discipline}}</p>
                        </td>
                        <td>
                            <p>{{start.competition.fullname}}</p>
                        </td>
                        <td>
                        {% if start.competition.discipline.mixedgender == True %}
                            <p>mixed</p>
                        {% else %}
                            <p>{{start.competition.gender}}</p>
                        {% endif %}
                        </td>
                        <td>
                            <p>{{start.heat}}</p>
                        </td>
                        <td>
                            <p>{{start.lane}}</p>
                        </td>
                        <td>
                        {% if start.competition.discipline.isgroupdisc > 1 %}
                            {% for team_entry in start.entry.team.team_entries.all %}
                            <p>{{team_entry.person.forename}} {{team_entry.person.surname}}</p>
                            {% endfor %}
                        {% else %}
                            <p>{{start.person.forename}} {{start.person.surname}}</p>
                        {% endif %}
                        </td>
                        <td>
                            <p>{{start.value}}</p>
                        </td>
                        <td>
                        {% if start.competition.discipline.isgroupdisc > 1 %}
                            {% for team_entry in start.entry.team.team_entries.all %}
                            <p>{{team_entry.person.club}}</p>
                            {% endfor %}
                        {% else %}
                            <p>{{start.person.club}}</p>
                        {% endif %}
                        </td>
                        <td class="hoverable">
<!--                                <a style="display:block" href="#">Edit</a>          --!>
                        </td>
                    </tr>
                    {% if forloop.last %}
                    <tfoot>
                        <tr>
                            <td colspan = '100%'>
                                <p>Gesamt: {{ forloop.counter }}</p>
                            </td>
                        </tr>
                    </tfoot>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h3>Keine Starts in den Altersklassen-Wettbewerben gesetzt!</h3>
        {% endif %}
    </div>
        
<!--            <div class="tableblock container">
                <table class="table-list">
                    <thead>
                        <tr>
                            <th class="hoverable">
                                <p><a style="display:block" href="#">Neuen Start hinzufügen</a></p>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>          --!>
           
    {% if discipline_state.hasfinals %}
    <div class="row">
        <h3>Finals setzten</h3>
    </div>

    <div class="row">
        <form action="" id="final-menue-form" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="row bottom">
                    <div class="form-col">
                        <input type="submit" class="btn" value="Setzten" name="seeding_finals">
                    </div>
                    <div class="form-col">
                        <input type="submit" class="btn" value="Zurücksetzten" name="del_seeding_finals">
                    </div>
                    <div class="form-col">
                        <input type="submit" class="btn" value="### CSV Export ###" name="export_finals_csv">
                    </div>
                    <div class="form-col">
                        <input type="submit" formtarget="_blank" class="btn" value="### PDF Drucken ###" name="export_finals_pdf">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    
    <div class="row">
        {% if start_list_final %}
        <div class="tableblock">
            <table class="table-list">
                <thead>
                    <tr>
                        <th width="10px">
                        </th>
                        <th class="sortable" width="120px">
                            <p>Disziplin</p>
                        </th>
                        <th class="sortable" width="180px">
                            <p>Finale</p>
                        </th>
                        <th class="sortable" width="45px">
                            <p>Geschlecht</p>
                        </th>
                        <th class="sortable" width="45px">
                            <p>Lauf</p>
                        </th>
                        <th class="sortable" width="45px">
                            <p>Bahn</p>
                        </th>
                        <th class="sortable" width="200px">
                            <p>Teilnehmer</p>
                        </th>
                        <th class="sortable" width="80px">
                            <p>Meldezeit</p>
                        </th>
                        <th class="sortable">
                            <p>Verein</p>
                        </th>
                        <th>
                            <p></p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for start in start_list_final %}
                    <tr {% if competition.ismerged == True %} class="ismerged"{% endif %}>
                        <td>
                        {% if start.competition.discipline.isgroupdisc > 1 %}
                            {% if start.team.members != 4 %}
                                <div class="colorpick red"></div>
                            {% endif %}
                            {% if start.team.members == 4 %}
                                <div class="colorpick green"></div>
                            {% endif %}
                        {% endif %}
                        </td>
                        <td>
                            <p>{{start.competition.discipline}}</p>
                        </td>
                        <td>
                            <p>{{start.competition.fullname}}</p>
                        </td>
                        <td>
                        {% if start.competition.discipline.mixedgender == True %}
                            <p>mixed</p>
                        {% else %}
                            <p>{{start.competition.gender}}</p>
                        {% endif %}
                        </td>
                        <td>
                            <p>{{start.heat}}</p>
                        </td>
                        <td>
                            <p>{{start.lane}}</p>
                        </td>
                        <td>
                        {% if start.competition.discipline.isgroupdisc > 1 %}
                            {% for team_entry in start.entry.team.team_entries.all %}
                            <p>{{team_entry.person.forename}} {{team_entry.person.surname}}</p>
                            {% endfor %}
                        {% else %}
                            <p>{{start.person.forename}} {{start.person.surname}}</p>
                        {% endif %}
                        </td>
                        <td>
                            <p>{{start.value}}</p>
                        </td>
                        <td>
                        {% if start.competition.discipline.isgroupdisc > 1 %}
                            {% for team_entry in start.entry.team.team_entries.all %}
                            <p>{{team_entry.person.club}}</p>
                            {% endfor %}
                        {% else %}
                            <p>{{start.person.club}}</p>
                        {% endif %}
                        </td>
                        <td class="hoverable">
<!--                                <a style="display:block" href="#">Edit</a>          --!>
                        </td>
                    </tr>
                    {% if forloop.last %}
                    <tfoot>
                        <tr>
                            <td colspan = '100%'>
                                <p>Gesamt: {{ forloop.counter }}</p>
                            </td>
                        </tr>
                    </tfoot>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h3>Keine Starts für die Finals gesetzt!</h3>
        </div>
        <div class="row white-space">
        {% endif %}
    </div>
    
    {% endif %}

 </div>
{% endblock %}