{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Übersicht Starts TEST {{ activeclub }}</h2>

        <div class="row">
            <div class="sub-nav-top container">
                <ul id="sub-menu" class="no-list">
                    <li>
                        <a href="{% url 'vunireg:start_seed' event_id=event.pk %}">Zurück zur Übersicht</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="tableblock container">
                <table class="table-list">
                    <thead>
                        <tr>
                            <th rowspan="0" >
                                <p></p>
                            </th>
                            <th rowspan="0" class="sortable">
                                <p>Teilnehmer</p>
                            </th>
                            <th rowspan="0" class="sortable">
                                <p>Geburtsdatum</p>
                            </th>
                            <th rowspan="0" class="sortable">
                                <p>m/f</p>
                            </th>
                            {% for discipline in discipline_list %}
                            <th colspan="4" style="text-align:center">
                                <p>{{discipline.name}}</p>
                            </th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for discipline in discipline_list %}
                            <th class="sortable">
                                <p>AK</p>
                            </th>
                            <th class="sortable" style="max-width:60px">
                                <p>Wert</p>
                            </th> 

                            <th class="sortable">
                                <p>L</p>
                            </th>
                            <th class="sortable">
                                <p>B</p>
                            </th>

                            {% endfor %}
                            <th rowspan="0" >
                                <p></p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for start in start_list %}
                    {% ifchanged start.person %}
                    {% if not forloop.first %}
                            <td>
                                <p></p>
                            </td>
                        </tr>
                    {% endif %}
                        <tr {% if competition.ismerged == True %} class="ismerged"{% endif %}>
                            <td>
                            {% if competition.entrycount < 6 and competition.ismerged == False %}
                                <div class="colorpick red"></div>
                            {% endif %}
                            {% if competition.entrycount >= 6 and competition.ismerged == False %}
                                <div class="colorpick green"></div>
                            {% endif %}
                            {% if competition.ismerged == True %}
                                <div class="colorpick"></div>
                            {% endif %}
                            </td>
                            <td>
                                <p>{{start.person.forename}} {{start.person.surname}}</p>
                            </td>
                            <td>
                                <p>{{start.person.dateofbirth|date:"d.m.Y"}}</p>
                            </td>
                            <td>
                                <p>{{start.person.gender}}</p>
                            </td>
                    {% endifchanged %}
                            <td>
                                <p>{{start.competition.fullname}}</p>
                            </td>
                            <td>
                                <p>{{start.value}}</p>
                            </td>
                         
                            <td>
                                <p>{{start.heat}}</p>
                            </td>
                            <td>
                                <p>{{start.lane}}</p>
                            </td>

                        {% if forloop.last %}
                        </tr>
                    <tfoot>
                        <tr>
                            <td colspan = '100%'>
                                <p>Gesamt: {{ forloop.counter }}</p>
                            </td>
                        </tr>
                    </tfoot>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>        
        </div>

    </div>
 </div>
{% endblock %}