{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Startnummern zuweisen</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>
    
    {% if person_list %}
    <div class="row">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="row bottom">
                    <div class="form-col">
                        <label class="visible" for="fromnr">Beginn StNr.</label>
                    </div>
                    <div class="form-col" style="max-width: 70px;">
                        <input type="number" min ="0" step="1" pattern="\d+" id="fromnr" name="fromnr" value="1">
                    </div>
                    <div class="form-col">
                        <label class="visible" for="leaffree">Auslassen StNr.</label>
                    </div>
                    <div class="form-col grow" style="max-width: 100%;">
                        <input type="text" id="leaffree" name="leaffree" placeholder="10,14,34">
                    </div>
                    <div class="form-col">
                        <input type="submit" class="btn" value="Zuweisen" name="set_startnr">
                    </div>

                    <div class="form-col">
                        <label class="togglebutton" for="toggle-1">Details</label>
                    </div>
                </div>
                
                <input type="checkbox" class="toggleinput" id="toggle-1" class="visually-hidden">
                <div class="toggelcontent">
                    <div class="sep-line"></div>
                    <div class="row">
                        <div class="form-col">
                            <label class="visible" for="order">Prio 1</label>
                        </div>
                        <div class="form-col grow-max">
                            <select name="order" id="order">
                                <option value="club">Nach Verein</option>
                                <option value="dateofbirth">Nach Alter</option>
                                <option value="surname">Nach Nachname</option>
                                <option value="pk" selected="selected">Intern</option>
                            </select>
                        </div>
                        <div class="form-col">
                            <label class="visible" for="order2">Prio 2</label>
                        </div>
                        <div class="form-col grow-max">
                            <select name="order2" id="order2">
                                <option value="club">Nach Verein</option>
                                <option value="dateofbirth">Nach Alter</option>
                                <option value="surname">Nach Nachname</option>
                                <option value="pk" selected="selected">Intern</option>
                            </select> 
                        </div>
                    </div>
                    <div class="sep-line"></div>
                    <div class="row bottom right">
                        <div class="form-col">
                            <input type="submit" class="btn" value="Startnummern löschen" name="del_startnr">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    
    <div class="row">
        <div class="tableblock">
            <table class="table-list">
                <thead>
                    <tr>
                        <th wide="10px">
                        </th>
                        <th class="sortable">
                            <p>Startnr.</p>
                        </th>
                        <th class="sortable">
                            <p>Vorname</p>
                        </th>
                        <th class="sortable">
                            <p>Nachname</p>
                        </th>
                        <th class="sortable" width="45px">
                            <p>Geschlecht</p>
                        </th>
                        <th class="sortable">
                            <p>Geburtsdatum</p>
                        </th>
                        <th class="sortable" width="50px">
                            <p>Nat.</p>
                        </th>
                        <th class="sortable">
                            <p>Verein</p>
                        </th>
                <!--
                        <th>
                            <p></p>
                        </th>
                --!>
                    </tr>
                </thead>
                <tbody>
                    {% for person in person_list %}
                    <tr>
                        <td>
                            {% if not person.entry_set.all %}
                                <div class="colorpick"></div>
                            {% elif not person.forename or not person.surname or not person.gender or not person.dateofbirth or not person.club %}
                                <div class="colorpick red"></div>
                            {% elif not person.startnr %}
                                <div class="colorpick yellow"></div>
                            {% else %}
                                <div class="colorpick green"></div>
                            {% endif %}
                        </td>
                        <td>
                            <p>{{person.startnr}}</p>
                        </td>
                        <td>
                            <p>{{person.forename}}</p>
                        </td>
                        <td>
                            <p>{{person.surname}}</p>
                        </td>
                        <td>
                            <p>{{person.gender}}</p>
                        </td>
                        <td>
                            <p>{{person.dateofbirth|date:"d.m.Y"}}</p>
                        </td>
                        <td>
                            <p>{{person.custom1}}</p>
                        </td>
                        <td>
                            <p>{{person.club}}</p>
                        </td>
                <!--
                        <td class="hoverable">
                            <a style="display:block" href="{% url 'vunireg:startnr_clr' person_id=person.pk event_id=event.pk %}">CLR</a>
                        </td>
                --!>
                    </tr>
                    {% if forloop.last %}
                    <tfoot>
                        <tr>
                            <td colspan = '100%'>
                                <p>Gesamt: {{ forloop.counter }}</p>
                            </td>
                        </tr>
                    </tfoot>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    {% endif %}

 </div>
{% endblock %}