{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Übersicht Starts {{ activediscipline }}</h2>

        <div class="row">
            <div class="sub-nav-top container">
                <ul id="sub-menu" class="no-list">
                    <li>
                        <a href="{% url 'vunireg:start_seed' event_id=event.pk %}">Zurück zur Übersicht</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="tableblock container">
                <table class="table-list">
                    <thead>
                        <tr>
                            <th>
                                <p></p>
                            </th>
                           <th class="sortable">
                                <p>Teilnehmer</p>
                            </th>
                            <th class="sortable">
                                <p>Disziplin</p>
                            </th>
                            <th class="sortable">
                                <p>AK</p>
                            </th>
                            <th class="sortable">
                                <p>Geschlecht</p>
                            </th>
                            <th class="sortable">
                                <p>Lauf</p>
                            </th>
                            <th class="sortable">
                                <p>Bahn</p>
                            </th>
                            <th class="sortable">
                                <p>Meldezeit</p>
                            </th>
                            <th>
                                <p></p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for start in start_list %}
                        <tr {% if competition.ismerged == True %} class="ismerged"{% endif %}>
                            <!--
                            <td>
                                <p>{{ forloop.counter }}</p>
                            </td>
                            --!>
                            <td>
                                {% if competition.entrycount < 6 and competition.ismerged == False %}
                                    <div class="colorpick red"></div>
                                {% endif %}
                                {% if competition.entrycount >= 6 and competition.ismerged == False %}
                                    <div class="colorpick green"></div>
                                {% endif %}
                                {% if competition.ismerged == True %}
                                    <div class="colorpick"></div>
                                {% endif %}
                            </td>
                            <td>
                                <p>{{start.person.forename}} {{start.person.surname}}</p>
                            </td>
                            <td>
                                <p>{{start.competition.discipline}}</p>
                            </td>
                            <td>
                                <p>{{start.competition.fullname}}</p>
                            </td>
                            <td>
                                <p>{{start.competition.gender}}</p>
                            </td>
                            <td>
                                <p>{{start.heat}}</p>
                            </td>
                            <td>
                                <p>{{start.lane}}</p>
                            </td>
                            <td>
                                <p>{{start.value}}</p>
                            </td>
                            <td class="hoverable">
<!--                                <a style="display:block" href="#">Edit</a>          --!>
                            </td>
                        </tr>
                        {% if forloop.last %}
                        <tfoot>
                            <tr>
                                <td colspan = '100%'>
                                    <p>Gesamt: {{ forloop.counter }}</p>
                                </td>
                            </tr>
                        </tfoot>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>        
        </div>

    </div>
 </div>
{% endblock %}