{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h2>Starts setzten</h2>
    </div>

    <div class="row">
        {# Include individual errors und responses #}
        {% if not error == '' %}
        <div class="response-field error">
            <p>{{ error|safe  }}</p>
        </div>
        {% endif %}
        {% if not response == '' %}
        <div class="response-field">
            <p>{{ response|safe  }}</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="sub-nav-top">
            <ul id="sub-menu" class="no-list">
                <li>
                    <a href="{% url 'vunireg:start_seed_overview' event_id=event.pk %}">Übersicht</a>
                </li>
            </ul>
            <ul id="sub-menu" class="no-list">
                {% for discipline in disciplinequery %}
                <li>
                    {% if discipline.state == 'NOENTRYS' %}
                    <div class="colorpick"></div>
                    {% elif discipline.state == 'NOSTARTS' %}
                    <div class="colorpick yellow"></div>
                    {% elif discipline.state == 'STARTSOK' %}
                    <div class="colorpick green"></div>
                    {% else %}
                    <div class="colorpick red"></div>
                    {% endif %}
                    <a href="{% url 'vunireg:start_seed_listview' event_id=event.pk discipline_id=discipline.pk %}">{{ discipline }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>   
    
    <div class="row space"></div>

 </div>
{% endblock %}